.start{
  position: absoute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: tomato;
  margin-right: 5px;
 // padding-right: 5px;
  }

label{
  font-size: 12px;
  font-weight: 500;
}
