<ion-header class="ion-no-border">
  <ion-toolbar no-border>
      <ion-buttons slot="start">
      <ion-menu-button color="primary" ></ion-menu-button>
      </ion-buttons>
    <ion-title style="font-weight: 500;">
      Orders
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="RedirectToHome()">
      <ion-icon name="home" color="primary"></ion-icon>
      </ion-button>
          </ion-buttons>
  </ion-toolbar>
  <div >

    <ion-segment scrollable [(ngModel)]='default' color="primary" (ionChange)="segmentChanged($event)">
      <ion-segment-button  value="Placed">
        Placed
      </ion-segment-button>
      <ion-segment-button  value="Completed">
        Completed
      </ion-segment-button>
      <ion-segment-button  value="Canceled">
        Canceled
      </ion-segment-button>

    </ion-segment>
    </div>
</ion-header>

<ion-content>


    <!-- <div  *ngFor="let orders of orderDetails;let i=index">
      <ion-card (click)="presentActionSheet()">
        <ion-card-header>
          Date
        </ion-card-header>
      <ion-card-title>
        {{orders.RestaurantName}}
      </ion-card-title>
        <ion-card-subtitle>
         <i> {{orders.OrderId}}</i>
        </ion-card-subtitle>


      </ion-card>


      </div> -->
      <div *ngIf="default=='Placed'">

<div *ngIf="orderDetails.length">
  <ion-card-content>
    <div *ngFor="let orders of orderDetails;let i=index" >
      <mat-accordion *ngIf="orders.Status!='Completed'" >


        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false" style="margin-top: 5px;">
          <mat-expansion-panel-header>
            <mat-panel-title  style="font-size: small;">
            {{orders.RestaurantName}}
            </mat-panel-title>
            <mat-panel-description  style="font-size: small;">
            <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
            ORD_ID-{{orders._id.substr(orders._id.length - 3)}}
            </mat-panel-description>
          </mat-expansion-panel-header>
<mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title  style="font-size: small;">
Order Details

</mat-panel-title>
<mat-panel-description  style="font-size: small;">


</mat-panel-description>
</mat-expansion-panel-header>


<div class="container" style="font-size: 12px;">

<ion-card>
  <ion-card-content>
<ion-row>
  <ion-col>
    Order Type
  </ion-col>
  <ion-col style="font-size: 12px;">
    Delivery
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    Payment Type
  </ion-col>
  <ion-col style="font-size: 12px;">
    COD (Cash On Delivery)
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    Order Status
  </ion-col>
  <ion-col style="font-size: 12px;">
    Placed
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    Discount
  </ion-col>
  <ion-col style="font-size: 12px;"  >
    {{orders.Discount}}%
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    Discount Code
  </ion-col>
  <ion-col style="font-size: 12px;"  >
    {{orders.DiscountCode}}
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    Discount Description
  </ion-col>
  <ion-col style="font-size: 12px;"  >
    {{orders.DiscountDescription}}
  </ion-col>
</ion-row>
</ion-card-content>
</ion-card>
</div>

</mat-expansion-panel>

</mat-accordion>

          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false" style="margin-top: 3px;">
              <mat-expansion-panel-header>
                <mat-panel-title  style="font-size: small;">
                Item Details
                </mat-panel-title>
                <mat-panel-description  style="font-size: small;">


                </mat-panel-description>
              </mat-expansion-panel-header>



  <ion-row style="font-size: 14px;">
    <ion-col>
      Item
    </ion-col>
    <ion-col>
      Price
    </ion-col>
    <ion-col>
      Quantity
    </ion-col>
    <ion-col>
      Amount
    </ion-col>
  </ion-row>

  <ion-row style="font-size: 12px;" *ngFor="let items of orders.ItemDetails" >
    <ion-col>
 {{items.ProductName}}
    </ion-col>
    <ion-col>
       {{items.Price}}
    </ion-col>
    <ion-col>
    {{items.ItemCount}}
    </ion-col>
    <ion-col>
       {{items.Amount}}
    </ion-col>
  </ion-row>



            </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false" style="margin-top: 3px;">
                  <mat-expansion-panel-header>
                    <mat-panel-title  style="font-size: small;">
                    Bill Details
                    </mat-panel-title>
                    <mat-panel-description  style="font-size: small;">
                    <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}}-->

                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div class="container">


<div style="font-size:12px;">
  <ion-card>
    <ion-card-content>
<ion-row>
  <ion-col>
    Item Total
  </ion-col>
  <ion-col style="font-size: 12px;">
    {{orders.ItemTotal}}
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    Taxes and Charges
  </ion-col>
  <ion-col style="font-size: 12px;">
    {{orders.TaxesAndCharges}}%
  </ion-col >
</ion-row>
<ion-row>
  <ion-col>
    Amount
  </ion-col>
  <ion-col style="font-size: 12px;">
    {{orders.ActualAmount}}
  </ion-col >
</ion-row>
<ion-row>
  <ion-col>
    Delivery Partner Fee
  </ion-col>
  <ion-col style="font-size: 12px;"  >
    {{orders.DeliveryPartnerFee.toFixed(2)}}
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    Discount
  </ion-col>
  <ion-col style="font-size: 12px;"  >
    {{orders.Discount}}%
  </ion-col>
</ion-row>


<ion-row>
  <ion-col>
    Total Amount
  </ion-col>
  <ion-col style="font-size: 12px;">
    {{orders.TotalAmount.toFixed(2)}}
  </ion-col>
</ion-row>
</ion-card-content>
</ion-card>
</div>
                    </div>




                </mat-expansion-panel>
                </mat-accordion>

                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false" style="margin-top: 3px;">
                      <mat-expansion-panel-header>
                        <mat-panel-title  style="font-size: small;">
                        Track Order
                        </mat-panel-title>
                        <mat-panel-description  style="font-size: small;">
                        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}}-->

                        </mat-panel-description>
                      </mat-expansion-panel-header>


                        <ul class="StepProgress">
                          <li class="StepProgress-item " [ngClass]="{'is-done' : orders.Status=='Placed' || orders.Status=='Accepted by Restaurant Owner' || orders.Status=='Accepted by Delivery Partner' || orders.Status=='Ready' || orders.Status=='Completed'}">Order Placed<br><i style="font-size: 12px;">Waiting for Restaurant Accept</i></li>
                          <li class="StepProgress-item " [ngClass]="{'is-done' : orders.Status=='Accepted by Restaurant Owner' || orders.DeliveryPartnerStatus=='Accepted by Delivery Partner' || orders.Status=='Ready' || orders.Status=='Completed'}">Accepted By Restaurant
                          <br><i style="font-size: 12px;">  Gettig Ready</i>
                          </li>
                          <li class="StepProgress-item " [ngClass]="{'is-done' :orders.DeliveryPartnerStatus=='Accepted by Delivery Partner'  || orders.Status=='Completed'}">Accepted By Delivery Partner</li>
                          <li class="StepProgress-item" [ngClass]="{'is-done' :orders.DeliveryPartnerStatus=='Accepted by Delivery Partner' || orders.Status=='Completed'}">Ready To Deliver <br><i style="font-size: 12px;">On The Way</i></li>
                          <li class="StepProgress-item" [ngClass]="{'is-done' : orders.Status=='Completed'}">Delivered</li>
                        </ul>








                    </mat-expansion-panel>



                    </mat-accordion>
                    <mat-accordion  >
                      <mat-expansion-panel (opened)="panelOpenState = true"
                                           (closed)="panelOpenState = false" style="margin-top: 3px;" *ngIf="orders.DeliveryPartnerStatus=='Accepted by Delivery Partner'">
                        <mat-expansion-panel-header>
                          <mat-panel-title  style="font-size: small;">
                          Delivery Partner Details
                          </mat-panel-title>
                          <mat-panel-description  style="font-size: small;">
                          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}}-->

                          </mat-panel-description>
                        </mat-expansion-panel-header>


                        <div class="container" style="font-size: 12px;">

                          <ion-card>
                            <ion-card-content>
                          <ion-row>
                            <ion-col>
                              Name:
                            </ion-col>
                            <ion-col style="font-size: 12px;">
                              {{orders.DeliveryPartnerDetails.FirstName}}
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              Mobile No.
                            </ion-col>
                            <ion-col style="font-size: 12px;">
                              {{orders.DeliveryPartnerDetails.MobileNo}}
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-button style="width: 100%;" (click)="CallCustomer(orders.DeliveryPartnerDetails.MobileNo)" color="success"><ion-icon name="call-sharp"></ion-icon></ion-button>
                           </ion-row>


                          </ion-card-content>
                          </ion-card>
                          </div>




                      </mat-expansion-panel>

                      </mat-accordion>
                      <mat-action-row style="padding-right: 50px;" *ngIf="orders.DeliveryPartnerStatus!='Accepted by Delivery Partner'">


                        <!-- <button mat-button color="primary" (click)="CancelOrder(orders._id,orders.RestaurantId)" >Cancel</button> -->
                        <button mat-button color="primary" (click)="presentAlertConfirm(orders._id,orders.RestaurantId)" >Cancel</button>
                      </mat-action-row>

        </mat-expansion-panel>


        </mat-accordion>
      </div>
      </ion-card-content>

    </div>
    </div>

    <div *ngIf="default=='Completed'">

        <div *ngIf="orderDetails1.length">

        <ion-card-content>

            <div *ngFor="let orders1 of orderDetails1;let i=index" >
      <mat-accordion *ngIf="orders1.Status=='Completed'" >

              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false" style="margin-top: 5px;">
                <mat-expansion-panel-header>
                  <mat-panel-title  style="font-size: small;">
                  {{orders1.RestaurantName}}
                  </mat-panel-title>
                  <mat-panel-description  style="font-size: small;">
                  <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
                  ORD_ID-{{orders1._id.substr(orders1._id.length - 3)}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
      <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
      <mat-panel-title  style="font-size: small;">
      Order Details

      </mat-panel-title>
      <mat-panel-description  style="font-size: small;">
      <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}}-->

      </mat-panel-description>
      </mat-expansion-panel-header>


      <div class="container" style="font-size: 12px;">
      <!-- <div class="row">

      <div class="col-7 col-sm-7"  style="font-size: small;">Order Type</div>
      <div class="col-3 col-sm-3" style="font-size: small;">Delivery</div>

       Force next columns to break to new line at md breakpoint and up
      <div class="w-100 d-none d-md-block"></div>

      <div class="col-7 col-sm-7"  style="font-size: small;">Payment Type</div>
      <div class="col-3 col-sm-3"  style="font-size: small;">COD</div>
      <div class="w-100 d-none d-md-block"></div>

      <div class="col-7 col-sm-7"  style="font-size: small;">Order Status</div>
      <div class="col-3 col-sm-3"  style="font-size: small;">Placed</div>

      </div> -->
      <ion-card>
        <ion-card-content>
      <ion-row>
        <ion-col>
          Order Type
        </ion-col>
        <ion-col style="font-size: 12px;">
          Delivery
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Payment Type
        </ion-col>
        <ion-col style="font-size: 12px;">
          COD (Cash On Delivery)
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Order Status
        </ion-col>
        <ion-col style="font-size: 12px;">
          Placed
        </ion-col>
      </ion-row>
      </ion-card-content>
      </ion-card>
      </div>

      </mat-expansion-panel>

      </mat-accordion>

                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title  style="font-size: small;">
                      Item Details
                      </mat-panel-title>
                      <mat-panel-description  style="font-size: small;">
                      <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}}-->

                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" >


                      <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                      </ng-container>


                      <ng-container matColumnDef="itemName" >
                        <th mat-header-cell *matHeaderCellDef class="align"> Item Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.ProductName}} </td>
                      </ng-container>





                      <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef class="align"> Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
                      </ng-container>


                      <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef class="align"> Qty. </th>
                        <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
                      </ng-container>
                      <ng-container matColumnDef="amount">
                          <th mat-header-cell *matHeaderCellDef class="align"> Amount </th>
                          <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
                        </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table> -->

                    <!-- <div class="container table_">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Item</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let items of itemDetails;let j=index">
                          <td *ngIf="items.RestaurantId==orders.RestaurantId">{{items.ProductName}}</td>
                          <td  class="td_" *ngIf="items.RestaurantId==orders.RestaurantId">{{items.Price}}</td>
                          <td class="td_" *ngIf="items.RestaurantId==orders.RestaurantId">{{items.ItemCount}}</td>
                          <td class="td_" *ngIf="items.RestaurantId==orders.RestaurantId">{{items.Amount}}</td>

                        </tr>

                      </tbody>
                    </table>
         </div> -->
      <ion-card>
        <ion-card-content>
        <ion-row style="font-size: 14px;">
          <ion-col>
            Item
          </ion-col>
          <ion-col>
            Price
          </ion-col>
          <ion-col>
            Quantity
          </ion-col>
          <ion-col>
            Amount
          </ion-col>
        </ion-row>

        <ion-row style="font-size: 12px;" *ngFor="let items of orders1.ItemDetails" >
          <ion-col>
       {{items.ProductName}}
          </ion-col>
          <ion-col>
             {{items.Price}}
          </ion-col>
          <ion-col>
          {{items.ItemCount}}
          </ion-col>
          <ion-col>
             {{items.Amount}}
          </ion-col>
        </ion-row>
      </ion-card-content>
        </ion-card>


                  </mat-expansion-panel>
                  </mat-accordion>

                  <mat-accordion>
                      <mat-expansion-panel (opened)="panelOpenState = true"
                                           (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title  style="font-size: small;">
                          Bill Details
                          </mat-panel-title>
                          <mat-panel-description  style="font-size: small;">
                          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}}-->

                          </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="container">
                          <!-- <div class="row">
                              <div class="col-7 col-sm-7" >Items</div>
                            <div class="col-4 col-sm-4">Cost (Rs.)</div>


                            <div class="w-100 d-none d-md-block"></div>
                            <hr>
                            <div class="col-7 col-sm-7"  style="font-size: small;">Item Total</div>
                            <div class="col-3 col-sm-3" style="font-size: small;">{{orders.ItemTotal}}</div>


                            <div class="w-100 d-none d-md-block"></div>

                            <div class="col-7 col-sm-7"  style="font-size: small;">Delivery Partner Fee.</div>
                            <div class="col-3 col-sm-3"  style="font-size: small;">{{orders.DeliveryPartnerFee}}</div>
                            <div class="w-100 d-none d-md-block"></div>
                            <div class="col-7 col-sm-7"  style="font-size: small;">Taxes and Charges</div>
                            <div class="col-3 col-sm-7"  style="font-size: small;">{{orders.TaxesAndCharges}}.00</div>

                            <div class="w-100 d-none d-md-block"></div>
                            <hr>
                            <div class="col-7 col-sm-7" style="font-weight:bolder;">Total Amount</div>
                            <div class="col-3 col-sm-3" style="font-weight:bolder;">{{orders.TotalAmount.toFixed(2)}}</div>
                          </div> -->

      <div style="font-size:12px;">
        <ion-card>
          <ion-card-content>
      <ion-row>
        <ion-col>
          Item Total
        </ion-col>
        <ion-col style="font-size: 12px;">
          {{orders1.ItemTotal}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Taxes and Charges
        </ion-col>
        <ion-col style="font-size: 12px;">
          {{orders1.TaxesAndCharges}}%
        </ion-col >
      </ion-row>
      <ion-row>
        <ion-col>
          Amount
        </ion-col>
        <ion-col style="font-size: 12px;">
          {{orders1.ActualAmount}}
        </ion-col >
      </ion-row>
      <ion-row>
        <ion-col>
          Delivery Partner Fee
        </ion-col>
        <ion-col style="font-size: 12px;"  >
          {{orders1.DeliveryPartnerFee.toFixed(2)}}
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          Total Amount
        </ion-col>
        <ion-col style="font-size: 12px;">
          {{orders1.TotalAmount.toFixed(2)}}
        </ion-col>
      </ion-row>
      </ion-card-content>
      </ion-card>
      </div>
                          </div>




                      </mat-expansion-panel>
                      </mat-accordion>



              </mat-expansion-panel>

              </mat-accordion>
              </div>
            </ion-card-content>

        </div>

    </div>


    <div *ngIf="default=='Canceled'">

      <div *ngIf="orderDetails2.length">

      <ion-card-content>

          <div *ngFor="let orders1 of orderDetails2;let i=index" >
    <mat-accordion *ngIf="orders1.Status=='Canceled by Customer'" >

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false" style="margin-top: 5px;">
              <mat-expansion-panel-header>
                <mat-panel-title  style="font-size: small;">
                {{orders1.RestaurantName}}
                </mat-panel-title>
                <mat-panel-description  style="font-size: small;">
                <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
                ORD_ID-{{orders1._id.substr(orders1._id.length - 3)}}
                </mat-panel-description>
              </mat-expansion-panel-header>
    <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title  style="font-size: small;">
    Order Details

    </mat-panel-title>
    <mat-panel-description  style="font-size: small;">
    <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}}-->

    </mat-panel-description>
    </mat-expansion-panel-header>


    <div class="container" style="font-size: 12px;">
    <!-- <div class="row">

    <div class="col-7 col-sm-7"  style="font-size: small;">Order Type</div>
    <div class="col-3 col-sm-3" style="font-size: small;">Delivery</div>

     Force next columns to break to new line at md breakpoint and up
    <div class="w-100 d-none d-md-block"></div>

    <div class="col-7 col-sm-7"  style="font-size: small;">Payment Type</div>
    <div class="col-3 col-sm-3"  style="font-size: small;">COD</div>
    <div class="w-100 d-none d-md-block"></div>

    <div class="col-7 col-sm-7"  style="font-size: small;">Order Status</div>
    <div class="col-3 col-sm-3"  style="font-size: small;">Placed</div>

    </div> -->
    <ion-card>
      <ion-card-content>
    <ion-row>
      <ion-col>
        Order Type
      </ion-col>
      <ion-col style="font-size: 12px;">
        Delivery
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Payment Type
      </ion-col>
      <ion-col style="font-size: 12px;">
        COD (Cash On Delivery)
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Order Status
      </ion-col>
      <ion-col style="font-size: 12px;">
        Placed
      </ion-col>
    </ion-row>
    </ion-card-content>
    </ion-card>
    </div>

    </mat-expansion-panel>

    </mat-accordion>

              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title  style="font-size: small;">
                    Item Details
                    </mat-panel-title>
                    <mat-panel-description  style="font-size: small;">
                    <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}}-->

                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <!-- <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" >


                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>


                    <ng-container matColumnDef="itemName" >
                      <th mat-header-cell *matHeaderCellDef class="align"> Item Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.ProductName}} </td>
                    </ng-container>





                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef class="align"> Price </th>
                      <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
                    </ng-container>


                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef class="align"> Qty. </th>
                      <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
                    </ng-container>
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef class="align"> Amount </th>
                        <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
                      </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table> -->

                  <!-- <div class="container table_">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let items of itemDetails;let j=index">
                        <td *ngIf="items.RestaurantId==orders.RestaurantId">{{items.ProductName}}</td>
                        <td  class="td_" *ngIf="items.RestaurantId==orders.RestaurantId">{{items.Price}}</td>
                        <td class="td_" *ngIf="items.RestaurantId==orders.RestaurantId">{{items.ItemCount}}</td>
                        <td class="td_" *ngIf="items.RestaurantId==orders.RestaurantId">{{items.Amount}}</td>

                      </tr>

                    </tbody>
                  </table>
       </div> -->
    <ion-card>
      <ion-card-content>
      <ion-row style="font-size: 14px;">
        <ion-col>
          Item
        </ion-col>
        <ion-col>
          Price
        </ion-col>
        <ion-col>
          Quantity
        </ion-col>
        <ion-col>
          Amount
        </ion-col>
      </ion-row>

      <ion-row style="font-size: 12px;" *ngFor="let items of orders1.ItemDetails" >
        <ion-col>
     {{items.ProductName}}
        </ion-col>
        <ion-col>
           {{items.Price}}
        </ion-col>
        <ion-col>
        {{items.ItemCount}}
        </ion-col>
        <ion-col>
           {{items.Amount}}
        </ion-col>
      </ion-row>
    </ion-card-content>
      </ion-card>


                </mat-expansion-panel>
                </mat-accordion>

                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title  style="font-size: small;">
                        Bill Details
                        </mat-panel-title>
                        <mat-panel-description  style="font-size: small;">
                        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}}-->

                        </mat-panel-description>
                      </mat-expansion-panel-header>

                      <div class="container">
                        <!-- <div class="row">
                            <div class="col-7 col-sm-7" >Items</div>
                          <div class="col-4 col-sm-4">Cost (Rs.)</div>


                          <div class="w-100 d-none d-md-block"></div>
                          <hr>
                          <div class="col-7 col-sm-7"  style="font-size: small;">Item Total</div>
                          <div class="col-3 col-sm-3" style="font-size: small;">{{orders.ItemTotal}}</div>


                          <div class="w-100 d-none d-md-block"></div>

                          <div class="col-7 col-sm-7"  style="font-size: small;">Delivery Partner Fee.</div>
                          <div class="col-3 col-sm-3"  style="font-size: small;">{{orders.DeliveryPartnerFee}}</div>
                          <div class="w-100 d-none d-md-block"></div>
                          <div class="col-7 col-sm-7"  style="font-size: small;">Taxes and Charges</div>
                          <div class="col-3 col-sm-7"  style="font-size: small;">{{orders.TaxesAndCharges}}.00</div>

                          <div class="w-100 d-none d-md-block"></div>
                          <hr>
                          <div class="col-7 col-sm-7" style="font-weight:bolder;">Total Amount</div>
                          <div class="col-3 col-sm-3" style="font-weight:bolder;">{{orders.TotalAmount.toFixed(2)}}</div>
                        </div> -->

    <div style="font-size:12px;">
      <ion-card>
        <ion-card-content>
    <ion-row>
      <ion-col>
        Item Total
      </ion-col>
      <ion-col style="font-size: 12px;">
        {{orders1.ItemTotal}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Taxes and Charges
      </ion-col>
      <ion-col style="font-size: 12px;">
        {{orders1.TaxesAndCharges}}%
      </ion-col >
    </ion-row>
    <ion-row>
      <ion-col>
        Amount
      </ion-col>
      <ion-col style="font-size: 12px;">
        {{orders1.ActualAmount}}
      </ion-col >
    </ion-row>
    <ion-row>
      <ion-col>
        Delivery Partner Fee
      </ion-col>
      <ion-col style="font-size: 12px;"  >
        {{orders1.DeliveryPartnerFee.toFixed(2)}}
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        Total Amount
      </ion-col>
      <ion-col style="font-size: 12px;">
        {{orders1.TotalAmount.toFixed(2)}}
      </ion-col>
    </ion-row>
    </ion-card-content>
    </ion-card>
    </div>
                        </div>




                    </mat-expansion-panel>
                    </mat-accordion>



            </mat-expansion-panel>

            </mat-accordion>
            </div>
          </ion-card-content>

      </div>

  </div>


</ion-content>
