.map{
  width: 100%;
  height: 400px;
  margin: 5px;

}

ion-card{
  padding-top: 5px;
  padding-left: 10px;
  border-radius:0px !important;
  height: 130px;
  ion-card-subtitle{

  }
  ion-card-content{

  }
}
