.banner{
    position: relative;
  }
  img{
    width: 100%;
    height: 200px;
  }
  .caption{

    position: absolute;
  //  margin-top: 60px;
    width: 100%;
    bottom:75px;
    font-size: 16px;
    color: white;
    padding-left: 26px;
    padding-right: 26px;


  }
ion-content{
ion-card{
  div{
  form{

  ion-item{

background-color:tomato;
    height: fit-content;
   // margin-top: 5px;

    //color: gold;

font-size: 14px;
border-radius: 2px;





    font-size: 14px;


ion-label{

}
ion-input{
  //background: gold;
  font-size: 14px;


     }
  }



}



ion-button{
    text-transform: capitalize;
    font-weight: 300;
    --background:#628cff;
    --border-radius:2px;
    --box-shadow:none;
    margin:10px 10px;
    font-size: 16px;




}
p{
    font-size: 14px;
    color: gray;
    margin-left: 10px;
    margin-top: 0px;
}
}
}
}


.small{
  padding: 10px;
}
/* DOES NOT WORK - not specific enough */
ion-loading {
  color: green;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}

.forget{
  margin-left: 10px;
  font-size: 12px;

}
.cart_title{
 padding: 15px;
 font-size: 16px;
 color: orangered;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

