.banner{
    position: relative;
  }
  img{
    width: 100%;
    height: 200px;
  }
  .caption{

    position: absolute;
  //  margin-top: 60px;
    width: 100%;
    bottom:25px;
    font-size: 16px;
    color: white;
    padding-left: 26px;
    padding-right: 26px;


  }
  .img1{

    width: 100%;
    height: 80px;

  }

  .cart-items{


    ion-card{

        margin-left:0;
        margin-right:0;
        border-radius:0;

        ion-card-content{
            display: flex;
            position: relative;

            .item-img{
                display:flex;
                align-items: center;
                margin-right: 16px;

                img{
                    object-fit:cover;
                    width:100px;
                    height: 100px;
                    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.16);
                }
            }

            .item-info{

                p{
                  margin-top: -10px;
                    font-size: 14px;

                }
                p:nth-child(1){
                    color: #434343;
                }
                p:nth-child(2){
                    color: #919191;
                }
                p:nth-child(3){
                    color:var(--ion-color-primary);
                }
                .qty-selector{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #f6f6f6;
                    border-radius:5px;
                    margin-top:10px;
                    width:fit-content;


                // ion-button{
                //     color:#565656;
                //     font-size: 16px;
                //     margin-left: 8px;
                //     margin-right:8px ;
                // }



                }
                ion-label{
                    color:#565656 !important;
                    font-size: 14px;
                }
                .amount{


                   margin-top: -35px;
                   margin-left: 100px;

                }

            }
        }
    }
    }

    ion-footer{


        .title{
            display: flex;
            margin-top: 0px;
            margin-left: 10px;
            font-size: 14px;


        }
        .description{
            display: flex;
            margin-top: 0px;
            margin-left: 10px;
            color:whitesmoke;
            font-size: 14px;
            font-style: italic;


        }

            ion-button{
                text-transform: capitalize;
                font-weight: 300;
                margin-right: 10px;
                --border-radius:2px;
                --box-shadow:none;

                ion-icon{
                    margin-left: 5px;
                }
            }






        }

        .table{
            margin:5px 5px 5px 5px;
            position: relative;


           .content{
            position: absolute;
            width: 100%;
            bottom:45px;
            font-size: 16px;
            color: white;
           padding-left: 5px;
           }



            ion-row{
                color: rgb(255, 255, 255);
                font-size: 14px;


            }
        }

        #map {
          height: 100%;
        }


 .deliverylocation{

  ion-card{
    ion-card-header{

      color:tomato;
      font-size: 14px;
      ion-button{
      margin-top: -10px;

      }

    }
    ion-card-content{

margin-top: -15px;

    }
  }
 }


 /* DOES NOT WORK - not specific enough */
.action-sheet-group {
  background: #e5e5e5;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .action-sheet-group {
  background: #e5e5e5;
}

.mclassy-custom- {
  --background: #e5e5e5;
}
.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}
