<!-- <ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title style="font-family: lato;">
      Cart
    </ion-title>
     <ion-buttons slot="end">
      <ion-button (click)="RedirectToHome()">
      <ion-icon name="home"></ion-icon>
      </ion-button>
          </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="banner" style="height: 50px;">
  <img  src="assets\orange_banner1.png" />
  <div class="caption ion-padding">
    {{restaurantName}}<br>

   <i> {{cartItemsAll.length}} items</i>
  </div>
  </div>

<div *ngIf="cartItemsAll.length">
  <ion-header>
<ion-toolbar>
  <ion-segment [(ngModel)]="default" color="primary" (ionChange)="segmentChanged($event)">
<ion-segment-button value="Delivery">
  <ion-label>Delivery</ion-label>
  </ion-segment-button>

  <ion-segment-button value="Pickup">
    <ion-label>Pickup</ion-label>
    </ion-segment-button>

    <ion-segment-button value="Dining">
      <ion-label>Dining</ion-label>
      </ion-segment-button>
  </ion-segment>
</ion-toolbar>
</ion-header>
  </div>



    <!-- <ion-refresher-content>
      <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"> -->
<ion-content *ngIf="cartItemsAll.length">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div  *ngIf="default=='Delivery'">

    <div class="deliverylocation">
    <ion-card>
      <ion-card-header>
         Delivery Location
         <ion-button fill="clear" (click)="DeliveryAddress()"><ion-icon   name="create-outline"></ion-icon></ion-button>
      </ion-card-header>
      <ion-card-content>
        {{selectedLocation}}
        <!-- {{selectedLocation}} -->
      </ion-card-content>
    </ion-card>
    </div>
    <div class="cart-items">
  <ion-card *ngFor="let cartItem of cartItemsAll; let i=index">
    <div class="offers" *ngIf="cartItem.Offer">
      -&nbsp;{{cartItem.Offer}}% Off
      </div>
    <ion-card-content>
      <div class="item-img">
        <img src="assets\chicken_biryani.jpg" />
      </div>

      <div class="item-info">
        <p>{{cartItem.ProductName}}</p>
      <p>1 full plate with 1 egg and thaalsa</p>
      <div class="price">
        <p [ngClass]="cartItem.Offer?'offer-price':''">Rs.{{cartItem.Price}}</p>
           <p *ngIf="cartItem.Offer">Rs.{{cartItem.Price}}</p></div>

      <div class="qty-selector" >
<ion-button fill="clear" [disabled]="!cartItem.ItemCount" (click)="DecreaseCount(i)">-</ion-button>
<ion-label>{{cartItem.ItemCount}}</ion-label>
<ion-button fill="clear" (click)="IncreaseCount(i)" >+</ion-button>

      </div>

      </div>

    </ion-card-content>
    </ion-card>
    </div>

    <div class="suggestions">

<p style="margin-left: 5px;color: orangered;font-weight: 500; font-size: small;">Best Combos Ever... Must Try...</p>
      <ion-slides [options]="{slidesPerView:'auto',zoom:false,grabCursor:true}">
        <ion-slide style="padding:0px;width: fit-content;" *ngFor="let suggestion of products;let i=index" >

        <ion-card >
          <ion-card-header>
  <div class="main" >

    <img src="assets/suggestion1.jpg">
  </div>
  <!-- <img class="foods-row" src="assets/foods_row.png"> -->

          </ion-card-header>
          <ion-card-content class="ion-text-left">

            <!-- <ion-card-title class="ion-margin-bottom" style="text-align: center;">Restaurants</ion-card-title>-->


              <ion-card-subtitle style="font-size: 12px;">{{suggestion.ProductName}}</ion-card-subtitle>
<p style="color: orangered;"> Rs: {{suggestion.Price+suggestion.Commission}}</p>
              <div class="qty-selector1" >
                <!-- <ion-button fill="clear" (click)="DecreaseItem(i,suggestion.MenuId)" >-</ion-button>
                <ion-label>{{suggestion.ItemCount}}</ion-label>
                <ion-button fill="clear" (click)="IncreaseItem(i,suggestion.MenuId)"  >+</ion-button> -->
                <ion-button color="success" fill="clear" (click)="IncreaseItem(i,suggestion.MenuId)" style="height: 20px;--border-radius: 2px;">Add +</ion-button>

                      </div>
            </ion-card-content>
        </ion-card>




      </ion-slide>


    </ion-slides>
    </div>
    <div class="table">
      <img src="assets\bill_details.png">
      <div class="content">
      <ion-row>
       <ion-col style="font-size: 16px;">
          Bill Details
          </ion-col >
          <ion-col  style="font-size: 16px;"> Cost(Rs.)</ion-col>

      </ion-row>


      <ion-row>
        <ion-col>
        <ion-label>Item Total</ion-label>
        </ion-col>
        <ion-col>{{itemAmount}}.00</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Delivery Partner Fee</ion-col>
        <ion-col>{{deliveryPartnerFee1}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Taxes and Charges</ion-col>
        <ion-col>{{taxesAndCharges}}.00</ion-col>
      </ion-row>
      <ion-row><ion-col>Total Amount</ion-col>
      <ion-col>{{totalAmount1}}</ion-col>
      </ion-row>
      </div>
    </div>
  </div>



  <div  *ngIf="default=='Pickup'">
    <div class="cart-items"  >
  <ion-card>
    <ion-card-content>

      <p>Comming Soon...</p>

    </ion-card-content>
    </ion-card>
    </div>

  </div>


  <div  *ngIf="default=='Dining'">
    <div class="cart-items">
  <ion-card>
    <ion-card-content>

      <p>Comming Soon...
      </p>

    </ion-card-content>
    </ion-card>
    </div>

  </div>



</ion-content>

<ion-footer  *ngIf="cartItemsAll.length">
  <ion-toolbar color="primary">
    <!-- <ion-title>4 Items</ion-title> -->

    <ion-text class="title">{{cartItemsAll.length}} Items</ion-text>
    <ion-text class="description">Amount Rs:{{totalAmount1}}</ion-text>


    <ion-button color="secondary" slot="end" (click)="PlaceOrder()" >Place Order<ion-icon slot="end" name="cart"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>

<!-- </ion-refresher>
</ion-refresher-content> -->
