.banner{
    position: relative;
    width: 100%;
    height: 150px;
   // background-color: #f7714a;
  }
  img{

  }
  .caption{

    position: absolute;
  //  margin-top: 60px;
    width: 100%;
    bottom:-7px;
    font-weight: 500;
    color: #f7714a;
    padding-left: 26px;
    padding-right: 26px;
ion-button{
  position:absolute;
  right: 10px;
  top: 10px;
  --border-radius:0px;
--color:seagreen !important;

}

  }
  .img1{

    width: 100%;
    height: 80px;

  }

  .cart-items{


    ion-card{

        margin-left:0;
        margin-right:0;
        border-radius:0;
        .offers{
          width: 70px;
          height: 20px;
          font-size: small;
          color: white;
          padding-left: 5px;

          background-color: tomato ;
          position: absolute;

        }
        ion-card-content{
            display: flex;
            position: relative;

            .item-img{
                display:flex;
                align-items: center;
                margin-right: 16px;

                img{
                    object-fit:cover;
                    width:100px;
                    height: 100px;
                    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.16);
                }
            }

            .item-info{

                p{
                  margin-top: -10px;
                    font-size: 14px;

                }
                p:nth-child(1){
                    color: #434343;
                }
                p:nth-child(2){
                    color: #919191;
                }
                p:nth-child(3){
                    color:var(--ion-color-primary);
                }

                .amount{
                  position:absolute;
                  right: 25px;
                  bottom: 50px;
                  font-size: 12px;
                  color: orangered;

                }
                .qty-selector{
                    display: flex;


                  position: absolute;
                 bottom:16px;
                 right: 10px;
                 height: 30px;
                    justify-content: center;
                    align-items: center;
                    background: #ffffff;
                    border: 1px solid rgb(248, 120, 14);
                    border-radius:2px;
                    margin-top:10px;
                    width:fit-content;


                // ion-button{
                //     color:#565656;
                //     font-size: 16px;
                //     margin-left: 8px;
                //     margin-right:8px ;
                // }
                }
                .price{
                  position: relative;

                  p:nth-child(1){
                    color:var(--ion-color-primary);
                  }
                  p:nth-child(2){
                    color: tomato;
                    position:absolute;
                    left: 60px;
                    top:10px;

                    //text-decoration:line-through;
                  }



                }
                ion-label{
                    color:#565656 !important;
                    font-size: 14px;
                }
                .amount{


                   margin-top: -35px;
                   margin-left: 100px;

                }
                .offer-price{

                  color: #919191 !important;

                   font-style: italic;
                   text-decoration:line-through;
                 }

             }


        }
    }
    }

    ion-footer{
      padding: 0;
ion-toolbar{
  --background:rgb(252, 252, 252);
  --color:black;
  padding: 0;

}

        .title{
            display: flex;
            margin-top: 0px;
            margin-left: 10px;
            margin-right: 30px;

            font-weight: 500;



        }
        .description{
            display: flex;
            margin-top: 0px;
            margin-left: 10px;
            font-weight: 500;




        }

            .placeorder_btn{
position: absolute;
right: -2px;
                text-transform: capitalize;
                font-weight:500;
               // margin-right: 0px;
                height: 60px;

                --background:green;
                --color:white;

                --box-shadow:none;

                ion-icon{
                    margin-left: 5px;
                }
            }






        }

        .table{
            margin:70px 5px 5px 5px;
            position: relative;
           // margin-top: -5px;
          // display: flex;
          height: fit-content;
img{
  height: 280px;

}

           .content{
            position: absolute;
            width: 100%;
           // bottom:0px;
            top: 5px;

            font-size: 16px;
            color: black;
           padding-left: 5px;
           }



            ion-row{
                color: black;
                font-size: 14px;


            }
        }

        #map {
          height: 100%;
        }


 .deliverylocation{

  ion-card{
    ion-card-header{

      color:tomato;
      font-size: 14px;
      ion-button{
      margin-top: -10px;

      }

    }
    ion-card-content{

margin-top: -15px;

    }
  }
 }

 .coupon{

position: relative;
   margin-top: -40px;
 // margin-top: 50px;

  ion-card{

    ion-card-content{

margin-top: -20px;

ion-item{
  width: 200px;
}
ion-button{
  position: absolute;
  right: 10px;
  top: 35px;
  --border-radius: 0px !important;
}

    }
  }


 }

.welcome-offer{
  width: 100%;

  height: 30px;
  //background-color: #434343;
  margin-top: -30px;
  ion-card{
      ion-card-subtitle{
   padding-top: 10px;
   padding-left: 10px;
 }
    ion-content{
      padding-right: 10px;
    }
  }
}


 /* DOES NOT WORK - not specific enough */
.action-sheet-group {
  background: #e5e5e5;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .action-sheet-group {
  background: #e5e5e5;
}

.mclassy-custom- {
  --background: #e5e5e5;
}
.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}


.suggestions{
  height: 180px;
  width: 100%;

  ion-slides{
    background-color: rgb(255, 255, 255);
    padding-left: 0px;






    ion-card{

position: relative;
      height: 200px;
      width: 140px;
      padding:0px;
      --border-radius:2px;

      ion-card-subtitle{
margin-top: 53px;
      }
      p{
        font-size: 12px;
      }

    }
  }
}


.main{
position: absolute;
 top: 0;
left: 0;
  width: 100%;
  height: 80px;


  border-radius: 50px;
background: #FFFFFF;
box-shadow: 7px 7px 20px #dbdfe2,
          -7px -7px 20px #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
img{
  width:100%;
  height: 80px;
}

}


.qty-selector1{

margin-top: -5px;
margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  border-radius:2px;


  width:fit-content;
  height: 25px;


// ion-button{
//     color:#565656;
//     font-size: 16px;
//     margin-left: 8px;
//     margin-right:8px ;
// }


}
.proceed{

}

.add-btn{
  position: fixed;

 bottom: 15px;
 margin-left: 20px;
}



// ----------------------------------delivery customizable------------------------

/* DOES NOT WORK - not specific enough */
.modal-wrapper {
  background: #222;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .modal-wrapper {
  background: #222;
}

.my-custom-class {
  --background: #222;
}

