
<ion-app>

   <!-- <ion-header class="ion-no-border">
    <ion-toolbar color="primary" no-border>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        Twinker
      </ion-title>
      <ion-buttons slot="end">
<ion-button>
  <ion-icon name="notifications"></ion-icon>
</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->

  <ion-menu side="start" menuId="first" contentId="content1">

      <ion-content>
        <div class="menu-header-bg"></div>
        <div class="header-content">
          <img src="assets\50x50.png" alt="Profile_image">
          <ion-label>
            <h2 style="font-weight: 500;">Hello,</h2>
            <p style="font-weight: 500;">Let v serve, What u need</p>
            </ion-label>
        </div>
        <!-- <div class="action-button">
          <ion-button disabled>
            <ion-icon slot="start" name="create"></ion-icon>Edit Profile
          </ion-button>

        </div> -->
        <ion-list class="menu-item" lines="none" >
        <ion-menu-toggle auto-hide="true">

          <ion-item routerLink="/cart"   routerDirection="forward">
              <ion-icon name="cart" slot="start"></ion-icon>
                 Cart
          </ion-item>
          <ion-item routerLink="/orders"   routerDirection="forward">
            <ion-icon name="list" slot="start"></ion-icon>
               Orders
        </ion-item>
        <!-- <ion-item routerLink="/favourites"   routerDirection="forward">
          <ion-icon name="heart" slot="start"></ion-icon>
             Favourites
      </ion-item> -->
      <!-- <ion-item routerLink="/to-improve"   routerDirection="forward">
        <ion-icon name="trending-up" slot="start"></ion-icon>
           Help Us To Improve
    </ion-item> -->
    <!-- <ion-item routerLink="/about-us"   routerDirection="forward">
      <ion-icon name="paw" slot="start"></ion-icon>
         About Us
  </ion-item> -->
  <ion-item routerLink="/contact-us"   routerDirection="forward">
    <ion-icon name="hand-left-outline" slot="start"></ion-icon>
       Contact Us
</ion-item>


  <ion-item (click)="LogOut()"   routerDirection="forward">
    <ion-icon name="log-out" slot="start"></ion-icon>
       Log Out
</ion-item>
        </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

  <!-- Tab bar -->


 <ion-router-outlet id="content1"></ion-router-outlet>
<!-- <ion-router-outlet ></ion-router-outlet> -->
</ion-app>
