
// ion-content {
//   --offset-top: 0 !important;
// }

ion-slides{


  ion-slide{

    margin-top: -20px;


    ion-card{

      position: relative;
      width:150px;
      height: 150px;
      box-shadow: none;
      border-radius: 0px !important;
      justify-content: center;
      align-items: center;





      img{
        object-fit: cover;
        width: 150px;
        height: 150px;

      }
    }
  }
}
  .top-offers{
    position: absolute;
    margin-top:70px ;
    color: rgb(173, 173, 173);


  }
//   ion-segment{

//       ion-segment-button{
//           background-color: rgb(179, 179, 179);
//           border-radius: 50px;





//       }
//   }



ion-footer{

  ion-toolbar{
    --background:#f7714a;
  --color:white;
}
.title{
    display: flex;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 14px;


}
.description{
    display: flex;
    margin-top: 0px;
    margin-left: 10px;
    color:rgb(255, 255, 255);
    font-size: 14px;



}

ion-icon{
  height: 30px;
  width: 30px;
  margin-right: 20px;
      }





}

.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}
.swiper-slide-active{
  //transform: scale(1.50,1.05);


}

.swiper-slide{
  transition: 400ms all ease-in-out;
}


.heart{
  position: absolute;
display: flex;
margin-left: 230px;
margin-top: -30px;


}

.top-offer{
  margin-top: 5px;
  font-size: 14px;
  margin-left: 5px;
  color: rgb(146, 146, 146);
  //letter-spacing: 0.5px;
 // background-color: orangered;
  width: 100px;

}
.todays-offers{
  padding-left: 5px;
  padding-top: 5px;


  .title{
//font-size: small;
font-weight: 500;
letter-spacing: 0.3px;
font-size: 12px;

color: orangered;
  }
}



.navbar{
  //background-color: orangered;
 // background-color: rgba(12, 97, 1, 0.842);
 position: -webkit-sticky;
  position: sticky;
  top: 0;
color: white;



}


.offer{
  position: absolute;
  top: 0;
  height: 30px;
  width: 70px;

  background-color: tomato;
  padding-top: 10px;
  font-size: small;
  color: #f6f6f6;

  // animation: shine 1s ease-in-out  infinite;
  // animation-fill-mode: forwards;

}
.offer-content{
  position: absolute;
  top:50px;
  left: 10px;

  height: 120px;
  width: 130px;
  background-color:rgba(255, 155, 6, 0.733);
border-radius: 2px;
}






.product{
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  height: 240px;
  width: 160px;
  background-color: beige;

}

.menu{
  width: 160px;
  height: 120px;
  position: absolute;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  padding-top: 5px;
  font-size: 12px;




}

.qty-selector{
  display: flex;
  position: absolute;
  bottom: 5px;

  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  border-radius:2px;
  margin-top:10px;
  width:fit-content;
  height: 25px;
  margin-left: 35px;

}

.add-btn{
  position: absolute;
  bottom: 5px;
  margin-left:45px;
  margin-top:10px;

}

.price{
  margin-top: -10px;
  color: orangered;
}
.rest-name{
  padding: 2px 2px 2px 2px;
  font-size: 12px;
  color: #f6f6f6;
  height: 20px;
  width: fit-content;
  position: absolute;
  background-color: tomato;
}
.offer-content1{
  position: absolute;
  top:50px;
  left: 10px;

  height: 120px;
  width: 130px;

border-radius: 2px;
}
.table{
position: relative;
}
.shop-specs{
  position: absolute;
  top: 0;
  width: 100%;
  color: #f7714a;

}
  // ion-col > div {
  //     background-color: #f7f7f7;
  //     border: solid 1px #ddd;
  //     padding: 5px;
  //   }
  .ion-list{
    margin-top: 10px;


    .ion-card{

      //position: relative;
      margin-top: -10px;

            ion-item{
              ion-thumbnail{

               position: relative;


              }
            }
    }

  }
  .img-present{
    position: absolute;
  left: 13px;
  bottom: 0;
  --background:rgb(255, 255, 255) !important;
  --color:seagreen;
  --box-shadow: 0;
  width: 70px;
  }

  .img-not-present{
    position: absolute;
  left: 13px;
  bottom: 28px;
  --background:seagreen !important;
  --color:white;
  --box-shadow: 0;
  width: 70px;
  }

  .qty-selector-new{
    display: flex;
    position: absolute;
    bottom: 5px;
    left: 12px;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    border-radius:2px;
    margin-top:10px;
    width:fit-content;
    height: 25px;
    font-size: 12px;
    // margin-left: 35px;

  }
  .qty-selector-new-notimage{
    display: flex;
    position: absolute;
    bottom: 28px;
    left: 12px;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    border-radius:2px;
    margin-top:10px;
    width:fit-content;
    height: 25px;
    font-size: 12px;
    // margin-left: 35px;

  }
  @keyframes shine{
    10% {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
  }
  .suggestions{
    height: 180px;
    width: 100%;

    ion-slides{
      background-color: rgb(255, 255, 255);
      padding-left: 0px;






      ion-card{

  position: relative;
        height: 200px;
        width: 140px;
        padding:0px;
        --border-radius:2px;

        ion-card-subtitle{
  margin-top: 53px;
        }
        p{
          font-size: 12px;
        }

      }
    }
  }

  .main{
    position: absolute;
     top: 0;
    left: 0;
      width: 100%;
      height: 80px;


      border-radius: 50px;
    background: #FFFFFF;
    box-shadow: 7px 7px 20px #dbdfe2,
              -7px -7px 20px #ffffff;
              display: flex;
              align-items: center;
              justify-content: center;
    img{
      width:100%;
      height: 80px;
    }

    }


    .qty-selector1{

    margin-top: -5px;
    margin-left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f6f6f6;
      border-radius:2px;


      width:fit-content;
      height: 25px;


    // ion-button{
    //     color:#565656;
    //     font-size: 16px;
    //     margin-left: 8px;
    //     margin-right:8px ;
    // }


    }
    .add-btn11{
      position: fixed;

     bottom: 15px;
     margin-left: 20px;
    }


    #triangle-left {
       width: 0;
       height: 0;
      border-top: 7px solid transparent;
      border-right: 14px solid rgb(81, 110, 206);
      border-bottom: 7px solid transparent;margin-top:-12px;margin-right:10px
    }
    .close{
      filter: grayscale(1);
    }
