ion-slides{


  ion-slide{

    margin-top: -20px;


    ion-card{

      position: relative;
      width:150px;
      height: 150px;
      box-shadow: none;
      border-radius: 0px !important;
      justify-content: center;
      align-items: center;





      img{
        object-fit: cover;
        width: 150px;
        height: 150px;
       // transform:scale(1.1,1.1) rotate(1deg);

       // opacity: 0.2;
      }
    }
  }
}
  .top-offers{
    position: absolute;
    margin-top:70px ;
    color: rgb(173, 173, 173);


  }
//   ion-segment{

//       ion-segment-button{
//           background-color: rgb(179, 179, 179);
//           border-radius: 50px;





//       }
//   }



ion-footer{

  ion-toolbar{
  --background:rgb(255, 147, 7);
  --color:white;
}
.title{
    display: flex;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 14px;


}
.description{
    display: flex;
    margin-top: 0px;
    margin-left: 10px;
    color:rgb(255, 255, 255);
    font-size: 14px;



}

ion-icon{
  height: 30px;
  width: 30px;
  margin-right: 20px;
      }





}

.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}
.swiper-slide-active{
  //transform: scale(1.50,1.05);


}

.swiper-slide{
  transition: 400ms all ease-in-out;
}


.heart{
  position: absolute;
display: flex;
margin-left: 230px;
margin-top: -30px;


}

.top-offer{
  margin-top: 5px;
  font-size: 14px;
  margin-left: 5px;
  color: rgb(146, 146, 146);
  //letter-spacing: 0.5px;
 // background-color: orangered;
  width: 100px;

}
.todays-offers{
  padding-left: 5px;
  padding-top: 5px;


  .title{
//font-size: small;
font-weight: 500;
letter-spacing: 0.3px;
font-size: 12px;

color: orangered;
  }
}



.navbar{
  //background-color: orangered;
 // background-color: rgba(12, 97, 1, 0.842);
color: white;


}


.offer{
  position: absolute;
  top: 0;
  height: 30px;
  width: 70px;

  background-color: tomato;
  padding-top: 10px;
  font-size: small;
  color: #f6f6f6;

}
.offer-content{
  position: absolute;
  top:50px;
  left: 10px;

  height: 120px;
  width: 130px;
  background-color:rgba(255, 155, 6, 0.733);
border-radius: 2px;
}






.product{
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  height: 240px;
  width: 160px;
  background-color: beige;

}

.menu{
  width: 160px;
  height: 120px;
  position: absolute;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  padding-top: 5px;
  font-size: 12px;




}

.qty-selector{
  display: flex;
  position: absolute;
  bottom: 5px;

  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  border-radius:2px;
  margin-top:10px;
  width:fit-content;
  height: 25px;
  margin-left: 35px;

}

.add-btn{
  position: absolute;
  bottom: 5px;
  margin-left:45px;
  margin-top:10px;
}

.price{
  margin-top: -10px;
  color: orangered;
}
.rest-name{
  padding: 2px 2px 2px 2px;
  font-size: 12px;
  color: #f6f6f6;
  height: 20px;
  width: fit-content;
  position: absolute;
  background-color: tomato;
}
.offer-content1{
  position: absolute;
  top:50px;
  left: 10px;

  height: 120px;
  width: 130px;

border-radius: 2px;
}
