<!-- <div class="header">
 <div class="rest-img">
   <img src="assets\chicken_biryani.jpg">
 </div>
 <ion-content>
   <p>Hotel Vaani</p>
   <p>1234,Aranmanai vaasal, sivaganga</p>
   </ion-content>
</div>  -->

<ion-header class="ion-no-border">
  <ion-toolbar  no-border>
      <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
    <ion-title>
      {{whichRestaurant}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="RedirectToHome()">
      <ion-icon color="primary" name="home"></ion-icon>
      </ion-button>
          </ion-buttons>
  </ion-toolbar>
  <!-- <ion-card style="height: 50px;">
  <div class="banner">

    <div class="caption ion-padding">

      <ion-icon name="location" ></ion-icon>&nbsp;&nbsp;<Small>Sivaganga</Small><br>
      <p style="font-size: small;">Rating: 4.5 | Taste: 4.5 | Delivery Time: 15-25mins</p>


    </div>
    </div>
  </ion-card> -->

  <!-- <div class="ad-slides" *ngIf="!productDetails.length">

    <ion-slides  [options]="{slidesPerView:'auto',zoom:false,grabCursor:true}" class="ion-margin-top">
       <ion-slide style="padding:0px;width: fit-content;">
         <ion-card>


<div style="height:150px;width: 150px;background-color: rgb(231, 231, 231);"></div>
         </ion-card>
       </ion-slide >
       <ion-slide style="padding:0px;width: fit-content;">
        <ion-card>


<div style="height:150px;width: 150px;background-color: rgb(231, 231, 231);"></div>
        </ion-card>
      </ion-slide >
      <ion-slide style="padding:0px;width: fit-content;">
        <ion-card>


<div style="height:150px;width: 150px;background-color: rgb(231, 231, 231);"></div>
        </ion-card>
      </ion-slide >
      <ion-slide style="padding:0px;width: fit-content;">
        <ion-card>


<div style="height:150px;width: 150px;background-color: rgb(231, 231, 231);"></div>
        </ion-card>
      </ion-slide >
      <ion-slide style="padding:0px;width: fit-content;">
        <ion-card>


<div style="height:150px;width: 150px;background-color: rgb(231, 231, 231);"></div>
        </ion-card>
      </ion-slide >



    </ion-slides>
    </div> -->







</ion-header>




    <ion-content  [fullscreen]="true" >

      <ion-item-group style="margin-top: 0px;" *ngFor="let list of mainMenu;let j=index" >
        <!-- <div class="ion-list" *ngFor="let category of shopCategory;let k=index" id={{category._id}}> -->
<div style="height: 25px;" id={{list._id}}>

</div>
          <ion-item-divider sticky >
             <div class="start" id=triangle-left></div>
          <div class="type" >

        <P style="font-weight: 500;">{{list.MenuName}}</P>
          </div>


          </ion-item-divider>
      <!-- <div class="ad-slides">

        <ion-slides  [options]="{slidesPerView:'auto',zoom:false,grabCursor:true}" class="ion-margin-top">
           <ion-slide style="padding:0px;width: fit-content;"  *ngFor="let product of productDetails;let i=index">
             <ion-card *ngIf="product.Offer && product.AvailableStatus">
  <div class="offer">TRENDING</div>
  <div class="offer-content">
  <p style="color: white; margin-top: 5px; font-size: small;">{{product.ProductName}}</p>
  <p style="color: white;margin-top:-10px ;"> Rs.&nbsp;{{product.OfferPrice}}&nbsp;Only</p>
  <ion-button color="danger" (click)="IncreaseItemOffer(i,product.MenuId)" style="height: 20px;--border-radius: 2px;position: sticky;bottom:10px">Add +</ion-button>


  </div>
               <img src="{{product.ImageUrl}}">
             </ion-card>
           </ion-slide >



        </ion-slides>
        </div> -->
<!--

        <div class="suggestions">


                <ion-slides [options]="{slidesPerView:'auto',zoom:false,grabCursor:true}">
                  <ion-slide style="padding:0px;width: fit-content;border-radius: 0px;" *ngFor="let product of productDetails;let i=index" >

                  <ion-card  style="border-radius: 0px !important ;" *ngIf="product.Offer && product.AvailableStatus">
                    <ion-card-header>
            <div class="main" >

              <img src="{{product.ImageUrl}}">
            </div>


                    </ion-card-header>
                    <ion-card-content class="ion-text-left">




                        <ion-card-subtitle style="font-size: 12px;">{{product.ProductName}}</ion-card-subtitle>
          <p style="color: orangered;"> Rs: {{product.Price}}.0</p>
                        <div class="qty-selector1" >



                                </div>
                                <ion-button class ="add-btn11" color="danger"  (click)="IncreaseItemOffer(i,product.MenuId)" style="height: 20px;--border-radius: 2px;">Add +</ion-button>
                      </ion-card-content>
                  </ion-card>




                </ion-slide>


              </ion-slides>
              </div> -->


      <div style="margin-top: 30px;" >




          <!-- <ion-item-divider color="light" sticky>

          <ion-segment  scrollable [(ngModel)]="menu" color="danger" (ionChange)="segmentChanged($event)">
            <ion-segment-button *ngIf="!mainMenu.length">
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-segment-button>
            <ion-segment-button *ngIf="!mainMenu.length">
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-segment-button>

            <ion-segment-button *ngFor="let menus of mainMenu;let j=index" value={{menus._id}} id={{menus._id}}>
              {{menus.MenuName}}
            </ion-segment-button>

          </ion-segment>
</ion-item-divider> -->


        <!-- <div class="main" *ngIf="isSearch">

      <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
        <ion-refresher-content>
    </ion-refresher-content>
    </ion-refresher>

    </div> -->


<ion-row *ngIf="!productDetails.length">
  <ion-col *ngFor="let dummy of skeleton" style="padding: 0px;"  >

<div class="product" >


  <div style="height:150px;width: 160px;background-color: rgb(231, 231, 231);"></div>
<div class="menu">
  <p style="font-weight: 400;width: 200px;"><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>

  <p style="margin-top: -10px;color: rgb(189, 189, 189);"><ion-skeleton-text animated style="width:80%"></ion-skeleton-text></p>

  <div class="price">
    <p><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></p>
</div>


  </div>
</div>
</ion-col>
</ion-row>

<ion-row *ngIf="list.ViewType=='Grid View'">
  <div *ngFor="let product of productDetails;let i=index">
  <ion-col style="padding: 0px;" *ngIf="product.MenuId==list._id">

<div class="product" >

  <img src="{{product.ImageUrl}}">
<div class="menu">
  <p>{{product.ProductName}}</p>

  <p style="margin-top: -15px;color: rgb(189, 189, 189);">{{product.Description}}</p>

  <div class="price">
    <p>Rs.{{product.Price}}</p>
</div>
  <div class="qty-selector" *ngIf="product.AvailableStatus && product.ItemCount">
  <ion-button fill="clear" (click)="DecreaseItem(i,product.MenuId);" [disabled]="!product.ItemCount" >-</ion-button>
<ion-label>{{product.ItemCount}}</ion-label>
<ion-button fill="clear"  (click)="IncreaseItem(i,product.MenuId)">+</ion-button>
</div>
<div  class="add-btn">
<ion-button  *ngIf="!product.ItemCount && product.AvailableStatus" color="danger" (click)="IncreaseItem(i,product.MenuId)" style="height: 20px;--border-radius: 2px;position: sticky;bottom:10px;--box-shadow: none !important; height: 25px;width: 60px;">Add</ion-button>
</div>
<div  *ngIf="!product.AvailableStatus">
  <p style="color:rgb(207, 3, 3);font-size: 12px;margin-top: 10px;font-style: italic;">Currently Not Available</p>
</div>
  </div>
</div>


</ion-col>
</div>

  </ion-row>


  <div class="ion-list"  *ngIf="list.ViewType=='List View'">


      <div *ngFor="let product of productDetails;let i=index" style="margin-top: 20px;">
      <ion-list style="margin-top: -5px;" lines="none" *ngIf="product.MenuId==list._id" >

  <ion-card class="ion-card" style="border-radius:0px;" >
      <ion-item  >

        <ion-thumbnail *ngIf="product.ImageUrl" style="height: 100px;width: 100px;border-radius: 2px;" slot="end">

          <img src="{{product.ImageUrl}}">

            <ion-button class="img-present" *ngIf="!product.ItemCount && product.AvailableStatus" (click)="IncreaseItem(i,product.MenuId)" >Add</ion-button>
            <div class="qty-selector-new" *ngIf="product.AvailableStatus && product.ItemCount">
              <ion-button fill="clear" (click)="DecreaseItem(i,product.MenuId);" [disabled]="!product.ItemCount" >-</ion-button>
            <ion-label>{{product.ItemCount}}</ion-label>
            <ion-button fill="clear"  (click)="IncreaseItem(i,product.MenuId)">+</ion-button>
            </div>

        </ion-thumbnail>

        <ion-thumbnail *ngIf="!product.ImageUrl" style="height: 100px;width: 100px;border-radius: 2px;" slot="end">



            <ion-button *ngIf="!product.ItemCount && product.AvailableStatus" (click)="IncreaseItem(i,product.MenuId)" class="img-not-present">Add</ion-button>
            <div class="qty-selector-new-notimage" *ngIf="product.AvailableStatus && product.ItemCount">
              <ion-button fill="clear" (click)="DecreaseItem(i,product.MenuId);" [disabled]="!product.ItemCount" >-</ion-button>
            <ion-label>{{product.ItemCount}}</ion-label>
            <ion-button fill="clear"  (click)="IncreaseItem(i,product.MenuId)">+</ion-button>
            </div>

        </ion-thumbnail>
        <ion-label class="hotel-card">
          <h4 style="font-weight: 400;width: 200px;">{{product.ProductName}}</h4>
          <p  style="margin-top: -15px;font-size: 12px;">{{product.Description}}</p>
          <div class="price">
            <p>Rs.{{product.Price}}</p>
        </div>
        <div  *ngIf="!product.AvailableStatus">
          <p style="color:rgb(207, 3, 3);font-size: 12px;margin-top: 10px;font-style: italic;">Currently Not Available</p>
        </div>

        </ion-label>
      </ion-item>

    </ion-card>

      </ion-list>

    </div>
    </div>

  </div>
  </ion-item-group>

</ion-content>
<div style="margin-bottom:20px; align-items: center;
justify-content: center;display: flex;">

<ion-button style="--border-radius: 20px; --background:rgb(31, 29, 41)"  (click)="presentPopover($event)">BROWSE MENUS</ion-button>


</div>

<ion-footer *ngIf="showCart.length" class="slide-in-bottom">
  <ion-toolbar (click)="ViewCart()">
    <!-- <ion-title>4 Items</ion-title> -->

    <ion-text class="title">{{showCart.length}} Items</ion-text>
    <ion-text class="description">from {{restaurantName1}}</ion-text>

    <!-- <ion-spinner slot="end" name="dots" style="margin-right: 20px;"></ion-spinner> -->
    <ion-icon slot="end" name="cart"></ion-icon>
  </ion-toolbar>
</ion-footer>

