<ion-header class="ion-no-border">
  <ion-toolbar #toolbar no-border >
      <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
    <ion-title >
     {{category}}
    </ion-title>
    <ion-buttons slot="end">
<ion-button (click)="RedirectToHome()">
<ion-icon  color="primary" name="home"></ion-icon>
</ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="toolbar">
   <div *ngIf="bannerImage">
    <img src="{{bannerImage}}" style="width: 100%;">
  </div>
  <ion-item-group style="margin-top: 12px;" *ngFor="let list of restaurantDetails;let k=index" id={{list._id}}>
    <!-- <div class="ion-list" *ngFor="let category of shopCategory;let k=index" id={{category._id}}> -->
      <div style="height: 25px;" id={{list._id}}>

      </div>
      <ion-item-divider sticky  >
         <div class="start"></div>
      <div class="type" id={{list._id}}>

    <P >From {{list.RestaurantName}}</P>
      </div>


      </ion-item-divider>
      <div class="ion-list" style="margin-top: 30px;">


          <div  *ngFor="let products of products;let i=index">
          <ion-list style="margin-top: -5px;" lines="none"  *ngIf="products.RestaurantId==list._id">

      <ion-card class="ion-card" style="border-radius:0px;" >
          <ion-item >

            <ion-thumbnail *ngIf="products.ImageUrl" style="height: 100px;width: 100px;border-radius: 2px;" slot="end">

              <img src="{{products.ImageUrl}}">

                <ion-button class="img-present" *ngIf="!products.ItemCount && products.AvailableStatus" (click)="IncreaseItem(i,products.MenuId,list._id,list.RestaurantName)" >Add</ion-button>
                <div class="qty-selector-new" *ngIf="products.AvailableStatus && products.ItemCount">
                  <ion-button fill="clear" (click)="DecreaseItem(i,products.MenuId,list._id,list.RestaurantName);" [disabled]="!products.ItemCount" >-</ion-button>
                <ion-label>{{products.ItemCount}}</ion-label>
                <ion-button fill="clear"  (click)="IncreaseItem1(i,products.MenuId,list._id,list.RestaurantName)">+</ion-button>
                </div>

            </ion-thumbnail>

            <ion-thumbnail *ngIf="!products.ImageUrl" style="height: 100px;width: 100px;border-radius: 2px;" slot="end">



                <ion-button *ngIf="!products.ItemCount && products.AvailableStatus" (click)="IncreaseItem(i,products.MenuId,list._id,list.RestaurantName)" class="img-not-present">Add</ion-button>
                <div class="qty-selector-new-notimage" *ngIf="products.AvailableStatus && products.ItemCount">
                  <ion-button fill="clear" (click)="DecreaseItem(i,products.MenuId,list._id,list.RestaurantName);" [disabled]="!products.ItemCount" >-</ion-button>
                <ion-label>{{products.ItemCount}}</ion-label>
                <ion-button fill="clear"  (click)="IncreaseItem1(i,products.MenuId,list._id,list.RestaurantName)">+</ion-button>
                </div>

            </ion-thumbnail>
            <ion-label class="hotel-card">
              <h4 style="font-weight: 400;width: 200px;">{{products.ProductName}}</h4>
              <p  style="margin-top: -15px;font-size: 12px;">{{products.Description}}</p>
              <div class="price">
                <p>Rs.{{products.Price}}</p>
            </div>
            <div  *ngIf="!products.AvailableStatus">
              <p style="color:rgb(207, 3, 3);font-size: 12px;margin-top: 10px;font-style: italic;">Currently Not Available</p>
            </div>

            </ion-label>
          </ion-item>

        </ion-card>
          </ion-list>

        </div>
        </div>
  </ion-item-group>


</ion-content>
<div  style="margin-bottom:20px;width: 100%; align-items: center;
justify-content: center;display: flex;">

<ion-button  style="--border-radius: 20px;" color="danger"  (click)="presentPopover($event)">RESTAURANTS</ion-button>


</div>
<ion-footer *ngIf="showCart.length">
  <ion-toolbar (click)="ViewCart()">
    <!-- <ion-title>4 Items</ion-title> -->

    <ion-text class="title">{{showCart.length}} Items</ion-text>
    <ion-text class="description">from {{restaurantName1}}</ion-text>


    <ion-icon slot="end" name="cart"></ion-icon>
  </ion-toolbar>
</ion-footer>
