
<ion-header class="ion-no-border">

  <ion-toolbar  no-border>
    <ion-buttons fill="clear" slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>

  <ion-title (click)="ChangeLocation()" style="font-size: 12px;">
    <ion-icon color="primary" name="location"></ion-icon>
    {{location.address}}
  </ion-title>

    <ion-buttons slot="end">



          <ion-button fill="clear" slot="end" class="icon-button" color="primary"  (click)="OpenOffers()">

            <ion-icon name="ribbon-sharp"></ion-icon>

            </ion-button>
            <ion-button fill="clear" slot="end" [ngClass]="{'jello-horizontal':cartItemsAll.length}" color="primary"  (click)="ViewCart()">

              <ion-icon name="cart"></ion-icon>

              </ion-button>
      <ion-button slot="end"  color="primary" *ngIf="userType!='C'" (click)="Dashboard()">
        <!-- Dashboard() -->
        <ion-icon color="secondary" name="apps"></ion-icon>
        </ion-button>
        </ion-buttons>
</ion-toolbar>

<div class="slide-items" >

  <ion-slides *ngIf="addSlide"  [options]="{slidesPerView:'auto',zoom:false,grabCursor:true,autoplay:true,pagination: true}"  >
    <ion-slide  *ngFor="let adds of addSlide" style="padding:0px;width: fit-content;width: 100%;" >
       <ion-card style="height: 120px;border-radius:5px;width: 100%;">

       <div class="menu-name">

         </div>

        <img style="height: 120px;width: 100%;" src="{{adds.ImageUrl}}">

      </ion-card>
   </ion-slide>





 </ion-slides>

 <ion-slides *ngIf="!addSlide" autoplay="5000" loop="true" speed="500" class="slides" pager="true">
  <ion-slide  *ngFor="let adds of addskeleton" style="padding:0px;width: fit-content;width: 100%;" >
    <ion-card style="height: 120px;border-radius:0px;width: 100%;">

     <div class="menu-name">

       </div>

      <!-- <img style="height: 120px;width: 100%;" src=""> -->
      <ion-skeleton-text animated style="height: 130px;width: 100%;margin-top: -2px;"></ion-skeleton-text>
    </ion-card>
 </ion-slide>





</ion-slides>
</div>

</ion-header>

<ion-content *ngIf="showApp" >

  <!-- <div >
    <img src="/assets/food_not_found.gif" style="display: block;margin-left: auto;margin-right: auto;width: 250px;margin-top: 100px;">
    <div  class="no-rest">
    <label>We are can't deliver here at this moment!</label><br>
    <label>Don't worry, We will be here at soon...</label>

  </div>
  <ion-button style="display: block;margin-left: auto;margin-right: auto;width: fit-content;" color="danger" (click)="ChangeLocation()">Change Location</ion-button>
  </div> -->

  <div class="ion-list" >
    <div class="type" >
      <div class="start"></div>
  <P>CATEGORIES</P>
    </div>
    </div>

    <div *ngIf="mainCategory">
      <ion-card style="border-radius: 0px;">




          <ion-row style="margin-bottom: 10px;margin-right: 10px;">
            <ion-col (click)="RestaurantPage(list.Type)" style="padding: 0px;" *ngFor="let list of mainCategory;let i=index">

              <!-- <ion-col style="padding: 0px;" *ngFor="let product of productDetails;let i=index"> -->
          <div class="product" >

<div style="height: 90px;width: 98.42px;position: relative;">

            <img src="{{list.ImageUrl}}" style="height: 90px;" alt="Category Icon">
            <div class="ribbon-wrapper" *ngIf="list.Badge">
              <div class="ribbon">{{list.BadgeDescription}}</div>
            </div>
</div>
            <div class="menu">

            <p style="font-weight: 500;">{{list.Category}}</p>

            <p style="margin-top: -15px;color: gray;">{{list.Description}}</p>


            </div>
          </div>
          </ion-col>



            </ion-row>

      </ion-card>


      </div>

      <div *ngIf="!mainCategory">
        <ion-card style="border-radius: 0px;">




            <ion-row style="margin-bottom: 10px;margin-right: 10px;">
              <ion-col  style="padding: 0px;" *ngFor="let dummy of skeleton">

            <div class="product" >
              <ion-skeleton-text animated ></ion-skeleton-text>


            <div class="menu">
              <p><ion-skeleton-text animated  ></ion-skeleton-text></p>

           <p><ion-skeleton-text animated ></ion-skeleton-text></p>


              </div>
            </div>
            </ion-col>



              </ion-row>

        </ion-card>
        </div>
      <!-- <div class="ion-list" >
        <div class="type" >
          <div class="start"></div>
      <P>TWINKER BUDDY (Soon)</P>
        </div>
        </div>
        <div class="slide-items1" >











          <ion-slides *ngIf="buddySlide"  [options]="{slidesPerView:'auto',zoom:false,grabCursor:true}">
            <ion-slide   *ngFor="let buddy of buddySlide" (click)="GoToBuddy();" style="padding:0px;width: fit-content;border-radius:5px">
              <ion-card  style="height: 150px;--border-radius:5px !important">

               <div class="menu-name">
                 </div>

                <img style="height: 150px;width: 150px;border-radius:5px" src="{{buddy.ImageUrl}}" >

              </ion-card>
           </ion-slide>



         </ion-slides>

         <ion-slides *ngIf="!buddySlide" [options]="{slidesPerView:'auto',zoom:false,grabCursor:true}">
          <ion-slide  *ngFor="let buddy of buddyskeleton" style="padding:0px;width: fit-content;">
            <ion-card  style="height: 150px;border-radius:0px">

             <div class="menu-name">

               </div>


              <ion-skeleton-text animated style="height: 150px;width: 150px;"></ion-skeleton-text>
            </ion-card>
         </ion-slide>



       </ion-slides>
        </div> -->
        <!-- <div class="slide-items4" >
          <div class="type" style="margin-left: 5px;margin-top:5px"  >

            <P >Hey I'm waiting to serve your needs.. &nbsp;&nbsp;<ion-icon name="arrow-forward-outline"></ion-icon></P>
              </div>
          <ion-slides   [options]="{slidesPerView:'auto',zoom:false,grabCursor:true}">
            <ion-slide class="swing-in-top-fwd"  style="padding:0px;width:fit-content;" *ngFor="let slide of buddyBanners" >

                <ion-button color="clear" (click)="GoToBuddy()"  style="height: 120px;width: 100%;border-radius:5px;margin-left: 10px;margin-right:10px;background-image: url('{{slide.ImageUrl}}');background-repeat: no-repeat;background-size: cover;">
      </ion-button>

           </ion-slide>



         </ion-slides>
        </div> -->


        <div class="slide-items" >

          <ion-slides *ngIf="buddyBanners"  [options]="{slidesPerView:'auto',zoom:false,grabCursor:true,autoplay:true,pagination: true}"  >
            <ion-slide  *ngFor="let slide of buddyBanners" style="padding:0px;width: fit-content;width: 100%;" (click)="GoToBuddy()">
               <ion-card style="height: 120px;border-radius:5px;width: 100%;">

               <div class="menu-name">

                 </div>

                <img style="height: 120px;width: 100%;" src="{{slide.ImageUrl}}">

              </ion-card>
           </ion-slide>
          </ion-slides>
          </div>












  <div class="slide-items2" *ngIf="specialOffers.length">

    <div class="type" style="margin-left: 5px;margin-top:10px">

      <P >Top Deals and Offers... &nbsp;&nbsp;<ion-icon name="arrow-forward-outline"></ion-icon></P>
        </div>

    <ion-slides  [options]="{slidesPerView:'auto',zoom:false,grabCursor:true,autoplay:true,pagination: true}">
      <ion-slide class="slide-in-top"  *ngFor="let offers of specialOffers" (click)="GoToRestaurant(offers.RestaurantName,offers.RestaurantId,offers.MenuId,offers.Type)" style="padding:0px;width: fit-content;">


        <ion-button color="clear" style="height: 120px;width: 250px;border-radius:5px;margin-left: 10px;margin-right:10px;background-image: url('{{offers.ImageUrl}}');background-repeat: no-repeat;background-size: cover;">


         </ion-button>
     </ion-slide>





   </ion-slides>
  </div>


</ion-content>

<ion-content *ngIf="!showApp">
  <div >
    <img src="/assets/food_not_found.gif" style="display: block;margin-left: auto;margin-right: auto;width: 250px;margin-top: 100px;">
    <div  class="no-rest">
    <label>We are can't deliver here at this moment!</label><br>
    <label>Don't worry, We will be here at soon...</label>

  </div>
  <ion-button style="display: block;margin-left: auto;margin-right: auto;width: fit-content;" color="danger" (click)="ChangeLocation()">Change Location</ion-button>
  </div>
</ion-content>

<ion-footer id="footer" *ngIf="orderDetails.length" class="container1">



<div class="delivery-boy">
  <ion-button (click)="hide()" fill="clear" slot="end" class="icon-button" color="primary">

    <ion-icon name="chevron-down-outline" ></ion-icon>

    </ion-button>
  <img src="/assets/delivery_boy.gif">


</div>


<div *ngFor="let orders of orderDetailsFromSocket[0];let i=index">

  <div class="wrapper">

    <div class="deliveryboy_main" *ngIf="orders.DeliveryPartnerStatus=='Accepted by Delivery Partner' || orders.DeliveryPartnerStatus=='Picked by Delivery Partner'">
<div class="profile">
<img src="{{orders.DeliveryPartnerDetails.ImageUrl}}" alt="profile">
</div>
<p>{{orders.DeliveryPartnerDetails.FirstName}}</p>
<ion-button (click)="CalltoDeliveryBoy(orders.DeliveryPartnerDetails.MobileNo)">Call</ion-button>
      </div>
    <p style="margin-top:5px;margin-left:10px;font-weight:500">From : {{orders.RestaurantName}}</p>
    <nav class="stepper" style="width: 250px;">
      <ul class="stepper__list">
        <li class="stepper__list__item"  [ngClass]="orders.Status == 'Accepted by Restaurant' || orders.DeliveryPartnerStatus=='Accepted by Delivery Partner' ? 'stepper__list__item--done' : 'stepper__list__item--current'" >
          <svg class="stepper__list__icon" *ngIf="orders.Status=='Accepted by Restaurant' || orders.DeliveryPartnerStatus=='Accepted by Delivery Partner'"  viewbox="0 0 24 24">
            <path class="st0" d="M12 20c4.4 0 8-3.6 8-8s-3.6-8-8-8-8 3.6-8 8 3.6 8 8 8zm0 1.5c-5.2 0-9.5-4.3-9.5-9.5S6.8 2.5 12 2.5s9.5 4.3 9.5 9.5-4.3 9.5-9.5 9.5z"></path>
            <path class="st0" d="M11.1 12.9l-1.2-1.1c-.4-.3-.9-.3-1.3 0-.3.3-.4.8-.1 1.1l.1.1 1.8 1.6c.1.1.4.3.7.3.2 0 .5-.1.7-.3l3.6-4.1c.3-.3.4-.8.1-1.1l-.1-.1c-.4-.3-1-.3-1.3 0l-3 3.6z"></path>
          </svg>
          <svg class="stepper__list__icon stepper__list__icon--current" *ngIf="orders.Status=='Placed' && orders.DeliveryPartnerStatus!='Accepted by Delivery Partner'" width="24" height="24" viewbox="0 0 24 24">
            <path d="M12.2 20a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0 1.377a9.377 9.377 0 1 1 0-18.754 9.377 9.377 0 0 1 0 18.754zm-4-8a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754z" fill="#006DFF" fill-rule="evenodd"></path>
          </svg>

          <span class="stepper__list__title">1. Shop accept</span>
        </li>
        <li class="stepper__list__item" [ngClass]="orders.DeliveryPartnerStatus == 'Accepted by Delivery Partner' || orders.DeliveryPartnerStatus=='Picked by Delivery Partner' ? 'stepper__list__item--done' : 'stepper__list__item--current'" >
          <svg class="stepper__list__icon" *ngIf="orders.DeliveryPartnerStatus=='Accepted by Delivery Partner'"  viewbox="0 0 24 24">
            <path class="st0" d="M12 20c4.4 0 8-3.6 8-8s-3.6-8-8-8-8 3.6-8 8 3.6 8 8 8zm0 1.5c-5.2 0-9.5-4.3-9.5-9.5S6.8 2.5 12 2.5s9.5 4.3 9.5 9.5-4.3 9.5-9.5 9.5z"></path>
            <path class="st0" d="M11.1 12.9l-1.2-1.1c-.4-.3-.9-.3-1.3 0-.3.3-.4.8-.1 1.1l.1.1 1.8 1.6c.1.1.4.3.7.3.2 0 .5-.1.7-.3l3.6-4.1c.3-.3.4-.8.1-1.1l-.1-.1c-.4-.3-1-.3-1.3 0l-3 3.6z"></path>
          </svg>
          <svg class="stepper__list__icon stepper__list__icon--current" *ngIf="orders.DeliveryPartnerStatus=='Placed by Customer'" width="24" height="24" viewbox="0 0 24 24">
            <path d="M12.2 20a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0 1.377a9.377 9.377 0 1 1 0-18.754 9.377 9.377 0 0 1 0 18.754zm-4-8a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754z" fill="#006DFF" fill-rule="evenodd"></path>
          </svg>

          <span class="stepper__list__title">2. Delivery boy accept</span>
        </li>
        <!-- <li class="stepper__list__item" [ngClass]="orders.DeliveryPartnerStatus == 'Picked by Delivery Partner' ? 'stepper__list__item--done' : 'stepper__list__item--current'" [ngClass]="{'stepper__list__item--done' : orders.DeliveryPartnerStatus=='Picked by Delivery Partner'}" [ngClass]="{'stepper__list__item--current' : orders.DeliveryPartnerStatus=='Placed by Customer' || orders.DeliveryPartnerStatus=='Accepted by Delivery Partner' }">
          <svg class="stepper__list__icon" *ngIf="orders.DeliveryPartnerStatus=='Picked by Delivery Partner'"  viewbox="0 0 24 24">
            <path class="st0" d="M12 20c4.4 0 8-3.6 8-8s-3.6-8-8-8-8 3.6-8 8 3.6 8 8 8zm0 1.5c-5.2 0-9.5-4.3-9.5-9.5S6.8 2.5 12 2.5s9.5 4.3 9.5 9.5-4.3 9.5-9.5 9.5z"></path>
            <path class="st0" d="M11.1 12.9l-1.2-1.1c-.4-.3-.9-.3-1.3 0-.3.3-.4.8-.1 1.1l.1.1 1.8 1.6c.1.1.4.3.7.3.2 0 .5-.1.7-.3l3.6-4.1c.3-.3.4-.8.1-1.1l-.1-.1c-.4-.3-1-.3-1.3 0l-3 3.6z"></path>
          </svg>
          <svg class="stepper__list__icon stepper__list__icon--current" *ngIf="orders.DeliveryPartnerStatus=='Placed by Customer'|| orders.DeliveryPartnerStatus=='Accepted by Delivery Partner'" width="24" height="24" viewbox="0 0 24 24">
            <path d="M12.2 20a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0 1.377a9.377 9.377 0 1 1 0-18.754 9.377 9.377 0 0 1 0 18.754zm-4-8a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754z" fill="#006DFF" fill-rule="evenodd"></path>
          </svg>
          <span class="stepper__list__title">3. Picked by delivery boy</span>
        </li> -->

        <li class="stepper__list__item " [ngClass]="orders.DeliveryPartnerStatus == 'Placed by Customer' ? 'stepper__list__item--pending' : 'stepper__list__item--current'">
          <svg class="stepper__list__icon stepper__list__icon--current" *ngIf="orders.DeliveryPartnerStatus!='Accepted by Delivery Partner'" width="24" height="24" viewbox="0 0 24 24">
            <path d="M12 16.1c1.8 0 3.3-1.4 3.3-3.2 0-1.8-1.5-3.2-3.3-3.2s-3.3 1.4-3.3 3.2c0 1.7 1.5 3.2 3.3 3.2zm0 1.7c-2.8 0-5-2.2-5-4.9S9.2 8 12 8s5 2.2 5 4.9-2.2 4.9-5 4.9z"></path>
          </svg>

          <svg class="stepper__list__icon stepper__list__icon--current" *ngIf="orders.DeliveryPartnerStatus=='Accepted by Delivery Partner'" width="24" height="24" viewbox="0 0 24 24">
            <path d="M12.2 20a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0 1.377a9.377 9.377 0 1 1 0-18.754 9.377 9.377 0 0 1 0 18.754zm-4-8a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754z" fill="#006DFF" fill-rule="evenodd"></path>
          </svg>
          <span class="stepper__list__title">3. Be ready, on the way</span>
        </li>
      </ul>
    </nav>
  </div>
<ion-card style="border-radius: 0px; " >





<ion-card-content>
  <ion-row >
    <ion-col>
No. Of Items:&nbsp;&nbsp;{{orders.ItemCount}}
    </ion-col>
    <ion-col>
      To Pay:&nbsp;&nbsp;{{orders.TotalAmount}}.00
          </ion-col>
  </ion-row>
  <ion-row >

  </ion-row>
</ion-card-content>
</ion-card>
</div>
</ion-footer>
