
<ion-header class="ion-no-border">

  <ion-toolbar  no-border>
    <ion-buttons fill="clear" slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>

  <ion-title (click)="ChangeLocation()" style="font-size: 12px;">
    <ion-icon color="primary" name="location"></ion-icon>
    {{location.address}}
  </ion-title>

    <ion-buttons slot="end">



          <ion-button fill="clear" slot="end" class="icon-button" color="primary"  (click)="OpenOffers()">

            <ion-icon name="ribbon-sharp"></ion-icon>

            </ion-button>
            <ion-button fill="clear" slot="end" [ngClass]="{'jello-horizontal':cartItemsAll.length}" color="primary"  (click)="ViewCart()">

              <ion-icon name="cart"></ion-icon>

              </ion-button>
      <ion-button slot="end"  color="primary" *ngIf="userType!='C'" (click)="Dashboard()">
        <ion-icon color="secondary" name="apps"></ion-icon>
        </ion-button>
        </ion-buttons>
</ion-toolbar>

<div class="slide-items" >

  <ion-slides   [options]="{slidesPerView:'auto',zoom:false,grabCursor:true,autoplay:true,pagination: true}"  pager>
    <ion-slide  *ngFor="let adds of addSlide" style="padding:0px;width: fit-content;width: 100%;" >
      <ion-card style="height: 120px;border-radius:0px;width: 100%;">

       <div class="menu-name">

         </div>

        <img style="height: 120px;width: 100%;" src="{{adds.ImageUrl}}">

      </ion-card>
   </ion-slide>
   <!-- <ion-slide style="padding:0px;width: fit-content;width: 100%" >
    <ion-card style="height: 120px;border-radius:0px;width: 100%">

     <div class="menu-name">

       </div>

      <img style="height: 120px;width: 100%;" src="/assets/veggies1.jpg">

    </ion-card>
 </ion-slide> -->




 </ion-slides>
</div>

</ion-header>

<ion-content >

  <div class="ion-list" >
    <div class="type" >
      <div class="start"></div>
  <P>CATEGORIES</P>
    </div>
    </div>

    <div>
      <ion-card style="border-radius: 0px;">




          <ion-row style="margin-bottom: 10px;margin-right: 10px;">
            <ion-col (click)="RestaurantPage(list.Type)" style="padding: 0px;" *ngFor="let list of mainCategory;let i=index">
              <!-- <ion-col style="padding: 0px;" *ngFor="let product of productDetails;let i=index"> -->
          <div class="product" >

            <img src="{{list.ImageUrl}}" style="height: 90px;" alt="Category Icon">
          <div class="menu">
            <p>{{list.Category}}</p>

            <p style="margin-top: -15px;color: gray;">{{list.Description}}</p>


            </div>
          </div>
          </ion-col>



            </ion-row>

      </ion-card>
      </div>
      <div class="ion-list" >
        <div class="type" >
          <div class="start"></div>
      <P>TWINKER BUDDY (Soon)</P>
        </div>
        </div>
        <div class="slide-items" >

          <ion-slides  [options]="{slidesPerView:'auto',zoom:false,grabCursor:true,autoplay:true}">
            <ion-slide *ngFor="let buddy of buddySlide" style="padding:0px;width: fit-content;width: 100%;">
              <ion-card style="height: 120px;border-radius:0px;width: 100%;">

               <div class="menu-name">

                 </div>

                <img style="height: 120px;width: 100%;" src="{{buddy.ImageUrl}}">

              </ion-card>
           </ion-slide>
           <!-- <ion-slide style="padding:0px;width: fit-content;width: 100%" >
            <ion-card style="height: 120px;border-radius:0px;width: 100%">

             <div class="menu-name">

               </div>

              <img style="height: 120px;width: 100%;" src="/assets/diwali.jpg">

            </ion-card>
         </ion-slide> -->




         </ion-slides>
        </div>
        <!-- <div class="ion-list" >
          <div class="type" >
            <div class="start"></div>
        <P>BOOKINGS - Let's book for your's...</P>
          </div>
          </div> -->
          <!-- <div class="slide-items" >

            <ion-slides   [options]="{slidesPerView:'auto',zoom:false,grabCursor:true,autoplay:true}">
              <ion-slide style="padding:0px;width: fit-content;width: 100%;" >
                <ion-card style="height: 120px;border-radius:0px;width: 100%;">

                 <div class="menu-name">

                   </div>

                  <img style="height: 120px;width: 100%;" src="/assets/diwali.jpg">

                </ion-card>
             </ion-slide>
             <ion-slide style="padding:0px;width: fit-content;width: 100%" >
              <ion-card style="height: 120px;border-radius:0px;width: 100%">

               <div class="menu-name">

                 </div>

                <img style="height: 120px;width: 100%;" src="/assets/veggies1.jpg">

              </ion-card>
           </ion-slide>




           </ion-slides>
          </div> -->
<!-- <div *ngIf="orderDetails.length">

</div> -->
</ion-content>

<ion-footer id="footer" *ngIf="orderDetails.length" class="container1">



<div class="delivery-boy">
  <ion-button (click)="hide()" fill="clear" slot="end" class="icon-button" color="primary">

    <ion-icon name="chevron-down-outline" ></ion-icon>

    </ion-button>
  <img src="/assets/delivery_boy.gif">


</div>

<div *ngFor="let orders of orderDetails;let i=index">
<ion-card style="border-radius: 0px; " >
  <ion-card-subtitle>Restaurant Name:&nbsp;&nbsp;{{orders.RestaurantName}}</ion-card-subtitle>
<ion-card-content>
  <ion-row >
    <ion-col>
No. Of Items:&nbsp;&nbsp;{{orders.ItemCount}}
    </ion-col>
    <ion-col>
      To Pay:&nbsp;&nbsp;{{orders.TotalAmount}}.00
          </ion-col>
  </ion-row>
  <ion-row >
    <ion-col>
Ordered Time:&nbsp;&nbsp;{{orders.CreatedTime}}
    </ion-col>
    <ion-col>
      Expected Delivery:&nbsp;&nbsp;With in 30 Mins
          </ion-col>
  </ion-row>
</ion-card-content>
</ion-card>
</div>
</ion-footer>
