
<ion-header class="ion-no-border">

  <ion-toolbar  no-border>
    <ion-buttons fill="clear" slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>

  <ion-title (click)="ChangeLocation()" style="font-size: 12px;">
    <ion-icon color="primary" name="location"></ion-icon>
    {{location.address}}
  </ion-title>

    <ion-buttons slot="end">



          <ion-button fill="clear" slot="end" class="icon-button" color="primary"  (click)="OpenOffers()">

            <ion-icon name="ribbon-sharp"></ion-icon>

            </ion-button>
            <ion-button fill="clear" slot="end" [ngClass]="{'jello-horizontal':cartItemsAll.length}" color="primary"  (click)="ViewCart()">

              <ion-icon name="cart"></ion-icon>

              </ion-button>
      <ion-button slot="end"  color="primary" *ngIf="userType!='C'" (click)="Dashboard()">
        <ion-icon color="secondary" name="apps"></ion-icon>
        </ion-button>
        </ion-buttons>
</ion-toolbar>

<div class="slide-items" >

  <ion-slides *ngIf="addSlide"   [options]="{slidesPerView:'auto',zoom:false,grabCursor:true,autoplay:true,pagination: true}"  pager>
    <ion-slide  *ngFor="let adds of addSlide" style="padding:0px;width: fit-content;width: 100%;" >
      <ion-card style="height: 120px;border-radius:0px;width: 100%;">

       <div class="menu-name">

         </div>

        <img style="height: 120px;width: 100%;" src="{{adds.ImageUrl}}">

      </ion-card>
   </ion-slide>





 </ion-slides>

 <ion-slides *ngIf="!addSlide"   [options]="{slidesPerView:'auto',zoom:false,grabCursor:true,autoplay:true,pagination: true}"  pager>
  <ion-slide  *ngFor="let adds of addskeleton" style="padding:0px;width: fit-content;width: 100%;" >
    <ion-card style="height: 120px;border-radius:0px;width: 100%;">

     <div class="menu-name">

       </div>

      <!-- <img style="height: 120px;width: 100%;" src=""> -->
      <ion-skeleton-text animated style="height: 130px;width: 100%;margin-top: -2px;"></ion-skeleton-text>
    </ion-card>
 </ion-slide>





</ion-slides>
</div>

</ion-header>

<ion-content >

  <div class="ion-list" >
    <div class="type" >
      <div class="start"></div>
  <P>CATEGORIES</P>
    </div>
    </div>

    <div *ngIf="mainCategory">
      <ion-card style="border-radius: 0px;">




          <ion-row style="margin-bottom: 10px;margin-right: 10px;">
            <ion-col (click)="RestaurantPage(list.Type)" style="padding: 0px;" *ngFor="let list of mainCategory;let i=index">
              <!-- <ion-col style="padding: 0px;" *ngFor="let product of productDetails;let i=index"> -->
          <div class="product" >

            <img src="{{list.ImageUrl}}" style="height: 90px;" alt="Category Icon">
          <div class="menu">
            <p style="font-weight: 500;">{{list.Category}}</p>

            <p style="margin-top: -15px;color: gray;">{{list.Description}}</p>


            </div>
          </div>
          </ion-col>



            </ion-row>

      </ion-card>
      </div>

      <div *ngIf="!mainCategory">
        <ion-card style="border-radius: 0px;">




            <ion-row style="margin-bottom: 10px;margin-right: 10px;">
              <ion-col  style="padding: 0px;" *ngFor="let dummy of skeleton">
                <!-- <ion-col style="padding: 0px;" *ngFor="let product of productDetails;let i=index"> -->
            <div class="product" >
              <ion-skeleton-text animated ></ion-skeleton-text>

              <!-- <img src="" style="height: 90px;"> -->
            <div class="menu">
              <p><ion-skeleton-text animated  ></ion-skeleton-text></p>

           <p><ion-skeleton-text animated ></ion-skeleton-text></p>


              </div>
            </div>
            </ion-col>



              </ion-row>

        </ion-card>
        </div>
      <div class="ion-list" >
        <div class="type" >
          <div class="start"></div>
      <P>TWINKER BUDDY (Soon)</P>
        </div>
        </div>
        <div class="slide-items1" >

          <!-- <ion-slides  [options]="{slidesPerView:'auto',zoom:false,grabCursor:true,autoplay:true}">
            <ion-slide *ngFor="let buddy of buddySlide" style="padding:0px;width: fit-content;width: 100%;">
              <ion-card style="height: 120px;border-radius:0px;width: 100%;">

               <div class="menu-name">

                 </div>

                <img style="height: 120px;width: 100%;" src="{{buddy.ImageUrl}}">

              </ion-card>
           </ion-slide>





         </ion-slides> -->



          <ion-slides *ngIf="buddySlide"  [options]="{slidesPerView:'auto',zoom:false,grabCursor:true}">
            <ion-slide  *ngFor="let buddy of buddySlide" (click)="GoToBuddy();" style="padding:0px;width: fit-content;">
              <ion-card  style="height: 150px;border-radius:0px">

               <div class="menu-name">
                <!-- {{list.Category}} -->
                 </div>

                <img style="height: 150px;width: 150px;" src="{{buddy.ImageUrl}}">

              </ion-card>
           </ion-slide>



         </ion-slides>

         <ion-slides *ngIf="!buddySlide" [options]="{slidesPerView:'auto',zoom:false,grabCursor:true}">
          <ion-slide  *ngFor="let buddy of buddyskeleton" style="padding:0px;width: fit-content;">
            <ion-card  style="height: 150px;border-radius:0px">

             <div class="menu-name">
              <!-- {{list.Category}} -->
               </div>

              <!-- <img style="height: 150px;width: 150px;" src="{{buddy.ImageUrl}}"> -->
              <ion-skeleton-text animated style="height: 150px;width: 150px;"></ion-skeleton-text>
            </ion-card>
         </ion-slide>



       </ion-slides>
        </div>

        <!-- <div class="ion-list" >
          <div class="type" >
            <div class="start"></div>
        <P>BOOKINGS - Let's book for your's...</P>
          </div>
          </div> -->
          <!-- <div class="slide-items" >

            <ion-slides   [options]="{slidesPerView:'auto',zoom:false,grabCursor:true,autoplay:true}">
              <ion-slide style="padding:0px;width: fit-content;width: 100%;" >
                <ion-card style="height: 120px;border-radius:0px;width: 100%;">

                 <div class="menu-name">

                   </div>

                  <img style="height: 120px;width: 100%;" src="/assets/diwali.jpg">

                </ion-card>
             </ion-slide>
             <ion-slide style="padding:0px;width: fit-content;width: 100%" >
              <ion-card style="height: 120px;border-radius:0px;width: 100%">

               <div class="menu-name">

                 </div>

                <img style="height: 120px;width: 100%;" src="/assets/veggies1.jpg">

              </ion-card>
           </ion-slide>




           </ion-slides>
          </div> -->
<!-- <div *ngIf="orderDetails.length">

</div> -->
</ion-content>

<ion-footer id="footer" *ngIf="orderDetails.length" class="container1">



<div class="delivery-boy">
  <ion-button (click)="hide()" fill="clear" slot="end" class="icon-button" color="primary">

    <ion-icon name="chevron-down-outline" ></ion-icon>

    </ion-button>
  <img src="/assets/delivery_boy.gif">


</div>


<div *ngFor="let orders of orderDetailsFromSocket[0];let i=index">

  <div class="wrapper">

    <div class="deliveryboy_main" *ngIf="orders.DeliveryPartnerStatus=='Accepted by Delivery Partner' || orders.DeliveryPartnerStatus=='Picked by Delivery Partner'">
<div class="profile">
<img src="{{orders.DeliveryPartnerDetails.ImageUrl}}" alt="profile">
</div>
<p>{{orders.DeliveryPartnerDetails.FirstName}}</p>
<ion-button (click)="CalltoDeliveryBoy(orders.DeliveryPartnerDetails.MobileNo)">Call</ion-button>
      </div>
    <p style="margin-top:5px;margin-left:10px;font-weight:500">From : {{orders.RestaurantName}}</p>
    <nav class="stepper">
      <ul class="stepper__list">
        <li class="stepper__list__item"  [ngClass]="orders.Status == 'Accepted by Restaurant' || orders.DeliveryPartnerStatus=='Accepted by Delivery Partner' ? 'stepper__list__item--done' : 'stepper__list__item--current'" >
          <svg class="stepper__list__icon" *ngIf="orders.Status=='Accepted by Restaurant' || orders.DeliveryPartnerStatus=='Accepted by Delivery Partner'"  viewbox="0 0 24 24">
            <path class="st0" d="M12 20c4.4 0 8-3.6 8-8s-3.6-8-8-8-8 3.6-8 8 3.6 8 8 8zm0 1.5c-5.2 0-9.5-4.3-9.5-9.5S6.8 2.5 12 2.5s9.5 4.3 9.5 9.5-4.3 9.5-9.5 9.5z"></path>
            <path class="st0" d="M11.1 12.9l-1.2-1.1c-.4-.3-.9-.3-1.3 0-.3.3-.4.8-.1 1.1l.1.1 1.8 1.6c.1.1.4.3.7.3.2 0 .5-.1.7-.3l3.6-4.1c.3-.3.4-.8.1-1.1l-.1-.1c-.4-.3-1-.3-1.3 0l-3 3.6z"></path>
          </svg>
          <svg class="stepper__list__icon stepper__list__icon--current" *ngIf="orders.Status=='Placed' && orders.DeliveryPartnerStatus!='Accepted by Delivery Partner'" width="24" height="24" viewbox="0 0 24 24">
            <path d="M12.2 20a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0 1.377a9.377 9.377 0 1 1 0-18.754 9.377 9.377 0 0 1 0 18.754zm-4-8a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754z" fill="#006DFF" fill-rule="evenodd"></path>
          </svg>

          <span class="stepper__list__title">1. Shop accept</span>
        </li>
        <li class="stepper__list__item" [ngClass]="orders.DeliveryPartnerStatus == 'Accepted by Delivery Partner' || orders.DeliveryPartnerStatus=='Picked by Delivery Partner' ? 'stepper__list__item--done' : 'stepper__list__item--current'" >
          <svg class="stepper__list__icon" *ngIf="orders.DeliveryPartnerStatus=='Accepted by Delivery Partner'"  viewbox="0 0 24 24">
            <path class="st0" d="M12 20c4.4 0 8-3.6 8-8s-3.6-8-8-8-8 3.6-8 8 3.6 8 8 8zm0 1.5c-5.2 0-9.5-4.3-9.5-9.5S6.8 2.5 12 2.5s9.5 4.3 9.5 9.5-4.3 9.5-9.5 9.5z"></path>
            <path class="st0" d="M11.1 12.9l-1.2-1.1c-.4-.3-.9-.3-1.3 0-.3.3-.4.8-.1 1.1l.1.1 1.8 1.6c.1.1.4.3.7.3.2 0 .5-.1.7-.3l3.6-4.1c.3-.3.4-.8.1-1.1l-.1-.1c-.4-.3-1-.3-1.3 0l-3 3.6z"></path>
          </svg>
          <svg class="stepper__list__icon stepper__list__icon--current" *ngIf="orders.DeliveryPartnerStatus=='Placed by Customer'" width="24" height="24" viewbox="0 0 24 24">
            <path d="M12.2 20a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0 1.377a9.377 9.377 0 1 1 0-18.754 9.377 9.377 0 0 1 0 18.754zm-4-8a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754z" fill="#006DFF" fill-rule="evenodd"></path>
          </svg>

          <span class="stepper__list__title">2. Delivery boy accept</span>
        </li>
        <!-- <li class="stepper__list__item" [ngClass]="orders.DeliveryPartnerStatus == 'Picked by Delivery Partner' ? 'stepper__list__item--done' : 'stepper__list__item--current'" [ngClass]="{'stepper__list__item--done' : orders.DeliveryPartnerStatus=='Picked by Delivery Partner'}" [ngClass]="{'stepper__list__item--current' : orders.DeliveryPartnerStatus=='Placed by Customer' || orders.DeliveryPartnerStatus=='Accepted by Delivery Partner' }">
          <svg class="stepper__list__icon" *ngIf="orders.DeliveryPartnerStatus=='Picked by Delivery Partner'"  viewbox="0 0 24 24">
            <path class="st0" d="M12 20c4.4 0 8-3.6 8-8s-3.6-8-8-8-8 3.6-8 8 3.6 8 8 8zm0 1.5c-5.2 0-9.5-4.3-9.5-9.5S6.8 2.5 12 2.5s9.5 4.3 9.5 9.5-4.3 9.5-9.5 9.5z"></path>
            <path class="st0" d="M11.1 12.9l-1.2-1.1c-.4-.3-.9-.3-1.3 0-.3.3-.4.8-.1 1.1l.1.1 1.8 1.6c.1.1.4.3.7.3.2 0 .5-.1.7-.3l3.6-4.1c.3-.3.4-.8.1-1.1l-.1-.1c-.4-.3-1-.3-1.3 0l-3 3.6z"></path>
          </svg>
          <svg class="stepper__list__icon stepper__list__icon--current" *ngIf="orders.DeliveryPartnerStatus=='Placed by Customer'|| orders.DeliveryPartnerStatus=='Accepted by Delivery Partner'" width="24" height="24" viewbox="0 0 24 24">
            <path d="M12.2 20a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0 1.377a9.377 9.377 0 1 1 0-18.754 9.377 9.377 0 0 1 0 18.754zm-4-8a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754z" fill="#006DFF" fill-rule="evenodd"></path>
          </svg>
          <span class="stepper__list__title">3. Picked by delivery boy</span>
        </li> -->

        <li class="stepper__list__item " [ngClass]="orders.DeliveryPartnerStatus == 'Placed by Customer' ? 'stepper__list__item--pending' : 'stepper__list__item--current'">
          <svg class="stepper__list__icon stepper__list__icon--current" *ngIf="orders.DeliveryPartnerStatus!='Accepted by Delivery Partner'" width="24" height="24" viewbox="0 0 24 24">
            <path d="M12 16.1c1.8 0 3.3-1.4 3.3-3.2 0-1.8-1.5-3.2-3.3-3.2s-3.3 1.4-3.3 3.2c0 1.7 1.5 3.2 3.3 3.2zm0 1.7c-2.8 0-5-2.2-5-4.9S9.2 8 12 8s5 2.2 5 4.9-2.2 4.9-5 4.9z"></path>
          </svg>

          <svg class="stepper__list__icon stepper__list__icon--current" *ngIf="orders.DeliveryPartnerStatus=='Accepted by Delivery Partner'" width="24" height="24" viewbox="0 0 24 24">
            <path d="M12.2 20a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0 1.377a9.377 9.377 0 1 1 0-18.754 9.377 9.377 0 0 1 0 18.754zm-4-8a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754zm4 0a1.377 1.377 0 1 1 0-2.754 1.377 1.377 0 0 1 0 2.754z" fill="#006DFF" fill-rule="evenodd"></path>
          </svg>
          <span class="stepper__list__title">3. Be ready, on the way</span>
        </li>
      </ul>
    </nav>
  </div>
<ion-card style="border-radius: 0px; " >




  <!-- <ion-card-subtitle>Restaurant Name:&nbsp;&nbsp;{{orders.RestaurantName}}</ion-card-subtitle> -->
<ion-card-content>
  <ion-row >
    <ion-col>
No. Of Items:&nbsp;&nbsp;{{orders.ItemCount}}
    </ion-col>
    <ion-col>
      To Pay:&nbsp;&nbsp;{{orders.TotalAmount}}.00
          </ion-col>
  </ion-row>
  <ion-row >
    <!-- <ion-col>
Ordered Time:&nbsp;&nbsp;{{orders.CreatedTime}}
    </ion-col> -->
    <!-- <ion-col>
      Expected Delivery:&nbsp;&nbsp;With in 30 Mins
          </ion-col> -->
  </ion-row>
</ion-card-content>
</ion-card>
</div>
</ion-footer>
