
<div class="banner">
  <img src="assets\login.png" />
  <div class="caption ion-padding">
    Hi Buddy...<br>
    Welcome to Twinker<br>
    <i>let we serve, what you need</i>
  </div>
  </div>


<ion-content  padding>
  <ion-card>
    <ion-card-title class="cart_title">
      Welcomes You. Join with us...
    </ion-card-title>
  <ion-radio-group value='C' (ionChange)="onItemChange($event)" >
  <ion-row  >

    <ion-col>
         <ion-item>
            <ion-label>Customer</ion-label>
            <ion-radio mode="md"  item-left value="C"></ion-radio>
       </ion-item>
     </ion-col>

    <ion-col>
        <ion-item>
            <ion-label>Onwer</ion-label>
            <ion-radio mode="md"  item-left value="R"></ion-radio>
       </ion-item>
    </ion-col>

    <ion-col>
        <ion-item>
            <ion-label>Delivery</ion-label>
            <ion-radio mode="md"  item-left value="D"></ion-radio>
       </ion-item>
    </ion-col>

</ion-row>
</ion-radio-group>

<form #registerForm="ngForm" >
  <div style="padding: 5px;margin-top: 20px;">
<ion-card>
    <ion-item   >
      <ion-label position="floating" >Full Name</ion-label>
      <ion-input  #firstName="ngModel" required ngModel name="firstname" type="text" class="form-control"></ion-input>
    </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <ion-label position="floating"  >Mobile No.</ion-label>
    <ion-input type="number" #mobileNo name="mobileno" (change)="ChechAvailability(mobileNo.value)" minlength="10" maxlength="10" required ngModel></ion-input>
  </ion-item>
</ion-card>
<ion-card>
  <div class="small" style="padding-left:15px"> <small  *ngIf="!availability" style="color: red;">Mobile No. already registered.[Kindly try another one.]</small></div>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [type]="showPassword?'text':'password'"  #password ="ngModel" name="password" minlength="8"  required ngModel></ion-input>
    <ion-icon (click)="IconToggle()" slot="end" [name]="passwordToogleIcon" style="margin-top: 15px;"></ion-icon>
  </ion-item>
</ion-card>
  <div class="small" style="padding-left:15px"> <small  *ngIf="password.touched && !password.valid" style="color: red;">Password must contains [min length 8, lowercase, uppercase, symbols and numbers]</small></div>

  <div padding style="margin-top: 20px;">
    <ion-button size="large" type="submit" color="primary" style="font-size: 14px;" [disabled]="!registerForm.valid || !availability"  (click)="RegisterUser(firstName.value,mobileNo.value,password.value)"  expand="block">REGISTER</ion-button>
  </div>
<hr style="background-color: gray;">
<p>If already have an account? Kindly...</p>
  <div padding style="margin-top: 20px;">

    <ion-button size="large" color="secondary" (click)="RedirectToLogin()" style="font-size: 14px;" expand="block">LOGIN</ion-button>
  </div>

</div>
</form>
</ion-card>
</ion-content>
