
 <ion-header class="ion-no-border">
  <ion-toolbar  no-border>
       <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->


        <ion-button (click)="RedirectToHome()">
        <ion-icon name="arrow-back-outline" color="primary"></ion-icon>
        </ion-button>


      </ion-buttons>
    <!-- <ion-title style="font-family: lato;">
      {{type}}
    </ion-title>-->
    <!-- <ion-buttons slot="end">

<ion-button (click)="RedirectToHome()">
<ion-icon name="home"></ion-icon>
</ion-button>

    </ion-buttons> -->


<div style="position: relative;border-radius: 5px;">
  <div class="search" style="margin-top:12px">

    <ion-searchbar id="custom-search" style="height:35px;font-size:13px;border-radius: 5px;" debounce="500" [(ngModel)]="searchHotel" (ionChange)="SearchChange($event)" placeholder="Search Restaurant"></ion-searchbar>

    <div class="veg" *ngIf="type=='Food'">

      <ion-label>Veg</ion-label>
          <ion-toggle class="veg-only toggle" [(ngModel)]="isToggle" (ionChange)="ToggleEvent($event)"></ion-toggle>
        </div>
</div>
</div>
  </ion-toolbar>












</ion-header>





<ion-content [fullscreen]="true"  [scrollEvents]="true" delegate-handle="content">


<div  *ngIf="showRestaurants">

  <div class="slide-items1" *ngIf="specialOffers.length">

    <div class="type" style="margin-left: 5px;margin-top:10px">

      <P >Today's Deals &nbsp;&nbsp;<ion-icon name="arrow-forward-outline"></ion-icon></P>
        </div>

    <ion-slides  [options]="{slidesPerView:'auto',zoom:false,grabCursor:true,autoplay:true}">
      <ion-slide class="slide-in-top"  *ngFor="let offers of specialOffers" (click)="GoToRestaurant(offers.RestaurantName,offers.RestaurantId,offers.MenuId,offers.Type)" style="padding:0px;width: fit-content;">
        <!-- <ion-card  style="height: 120px;border-radius:0px">

         <div class="menu-name">

           </div>

         <img style="height: 150px;width: 250px;" src="{{offers.ImageUrl}}">

        </ion-card> -->
        <ion-button color="clear" style="height: 120px;width: 250px;border-radius:5px;margin-left: 10px;margin-right:10px;background-image: url('{{offers.ImageUrl}}');background-repeat: no-repeat;background-size: cover;">
          </ion-button>
     </ion-slide>





   </ion-slides>
  </div>



  <div class="slide-items" >
    <div class="type" style="margin-left: 5px;margin-top:5px" *ngIf="category.length" >

      <P >Best Offers &nbsp;&nbsp;<ion-icon name="arrow-forward-outline"></ion-icon></P>
        </div>
    <ion-slides   [options]="{slidesPerView:'auto',zoom:false,grabCursor:true}">
      <ion-slide class="swing-in-top-fwd"  style="padding:0px;width: fit-content;" *ngFor="let list of category">
        <!-- <ion-card  style="height: 150px;border-radius:5px;margin-top:10px"> -->



          <!-- <img style="height: 180px;width: 150px;" src="{{list.ImageUrl}}"> -->
          <ion-button color="clear"  (click)="Products(list.RestaurantName,list.RestaurantId,list.Type);" style="height: 150px;width: 150px;border-radius:5px;margin-left: 10px;margin-right:10px;background-image: url('{{list.ImageUrl}}');background-repeat: no-repeat;background-size: cover;">
</ion-button>
        <!-- </ion-card> -->
     </ion-slide>



   </ion-slides>
  </div>


  <div class="slide-items2" >
    <div class="type" style="margin-left: 5px;margin-top:5px" *ngIf="specificCategory.length" >

      <P >Find for yours &nbsp;&nbsp;<ion-icon name="arrow-forward-outline"></ion-icon></P>
        </div>

    <ion-slides   [options]="{slidesPerView:'auto',zoom:false,grabCursor:true}">


      <ion-slide class="slide-in-fwd-center" style="padding:0px;width: fit-content;display:inline-block" *ngFor="let list of specificCategory">
        <div>
        <!-- <ion-card (click)="Category(list.Category);" style="height: 100px;width:100px;border-radius: 50%;margin-top: 10px;"> -->


          <!-- <img style="height: 150px;width: 150px;" src="{{list.ImageUrl}}"> -->
          <ion-button fill='clear' (click)="Category(list.Category);"  style="height: 80px;width:80px;border-radius: 50%;margin-top: 10px;margin-left: 10px;margin-right:10px;background-image: url('{{list.ImageUrl}}');background-repeat: no-repeat;background-size: cover;background-position: center;color:white">
</ion-button>
        <!-- </ion-card> -->

      </div>
        <span class="caption">{{list.Category}}</span>
     </ion-slide>



   </ion-slides>
  </div>
  <ion-item-group style="margin-top: 30px;" *ngFor="let category of shopCategory;let k=index" id={{category._id}}>
    <!-- <div class="ion-list" *ngFor="let category of shopCategory;let k=index" id={{category._id}}> -->

      <ion-item-divider sticky >
         <div class="start"></div>
      <div class="type" id={{category._id}}>

    <P >{{category.Category}}</P>
      </div>


      </ion-item-divider>
      <!-- <ion-list style="margin-top: -10px;" lines="none" *ngFor="let item of searchedItem;let i=index"> -->
     <div class="items" style="margin-top:70px;">
        <div  *ngFor="let item of searchedItem;let i=index">
        <ion-list class="slide-in-left" style="margin-top: -5px;" lines="none"  *ngIf="item.CategoryId==category._id" >

    <ion-card class="ion-card" style="border-radius:5px;" [ngClass]="{'close':!item.AvailableStatus}">
        <ion-item (click)="RestaurntClick(item.RestaurantName,item._id,item.AvailableStatus)">

          <ion-thumbnail style="height: 100px;width: 100px;border-radius: 2px;" slot="start">


            <img  src="{{item.ImageUrl}}" style="border-radius:5px;">


          </ion-thumbnail>
          <ion-label class="hotel-card">
            <h4 style="font-weight: 500;width: 200px;">{{item.RestaurantName}}</h4>
            <p  style="margin-top: -15px;font-size: 12px;">{{item.RestaurantType}}</p>
            <p  style="margin-top: -15px;font-size: 12px;">{{item.Address}}</p>
            <hr style="background-color: rgb(236, 138, 45);margin-top: -10px;">
            <p style="font-size: 12px;margin-top: -5px;font-style: italic;">Taste: 4.5 | Rating: 4.5 | {{item.Distance}} km </p>

          </ion-label>
        </ion-item>

      </ion-card>
        </ion-list>
</div>
      </div>
        <!-- </div> -->
    </ion-item-group>




  <div class="slide-items" *ngIf="!category" >

    <ion-slides  [options]="{slidesPerView:'auto',zoom:false,grabCursor:true}">
      <ion-slide style="padding:0px;width: fit-content;">
        <ion-card  style="height: 150px;border-radius:0px">

         <div class="menu-name">

           </div>

          <div style="height: 150px;width: 150px;background-color: rgb(231, 231, 231);"></div>

        </ion-card>
     </ion-slide>
     <ion-slide style="padding:0px;width: fit-content;">
      <ion-card  style="height: 150px;border-radius:0px">

       <div class="menu-name">

         </div>

        <div style="height: 150px;width: 150px;background-color: rgb(231, 231, 231);"></div>

      </ion-card>
   </ion-slide>
   <ion-slide style="padding:0px;width: fit-content;">
    <ion-card  style="height: 150px;border-radius:0px">

     <div class="menu-name">

       </div>

      <div style="height: 150px;width: 150px;background-color: rgb(231, 231, 231);"></div>

    </ion-card>
 </ion-slide>
 <ion-slide style="padding:0px;width: fit-content;">
  <ion-card  style="height: 150px;border-radius:0px">

   <div class="menu-name">

     </div>

    <div style="height: 150px;width: 150px;background-color: rgb(231, 231, 231);"></div>

  </ion-card>
</ion-slide>



   </ion-slides>
  </div>
 <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content>
</ion-refresher-content>
</ion-refresher>
<!-- <div *ngIf="!searchedItem">
  <div class="ion-padding custom-skeleton">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </div>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div> -->


<div class="ion-list" *ngIf="!searchedItem.length">

  <!-- <ion-list style="margin-top: -10px;" lines="none" *ngFor="let item of searchedItem;let i=index"> -->
    <ion-list style="margin-top: -5px;" lines="none" *ngFor="let dummy of skeleton" >

<ion-card class="ion-card"  style="border-radius:0px;">


  <!-- <div  class="offers color-green" *ngIf="item.AvailableStatus" >Opened</div>
  <div  class="offers color-red" *ngIf="!item.AvailableStatus">Closed</div> -->


  <div class="offer-logo"style="position: absolute;right:0px;top: 0px;"><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></div>
    <ion-item >

      <ion-thumbnail style="height: 100px;width: 100px;border-radius: 2px;background-color: rgb(231, 231, 231);" slot="start">


      </ion-thumbnail>
      <ion-label class="hotel-card">
        <h4 style="font-weight: 400;width: 200px;"><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></h4>
        <p  style="margin-top: -15px;font-size: 12px;"><ion-skeleton-text animated style="width:80%"></ion-skeleton-text></p>
        <p  style="margin-top: -15px;font-size: 12px;"><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>

        <p style="font-size: 12px;margin-top: -5px;"><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text> </p>
      </ion-label>
    </ion-item>

  </ion-card>
    </ion-list>

    </div>



    <!-- <p #target>Secret message!</p> -->
</div>
<div *ngIf="!showRestaurants">
  <img src="/assets/food_not_found.gif" style="display: block;margin-left: auto;margin-right: auto;width: 250px;margin-top: 100px;">
  <div  class="no-rest">
  <label>We are can't deliver here at this moment!</label><br>
  <label>Don't worry, We will be here at soon...</label>

</div>
<ion-button style="display: block;margin-left: auto;margin-right: auto;width: fit-content;" color="danger" (click)="ChangeLocation()">Change Location</ion-button>
</div>
  </ion-content>

  <div  style="margin-bottom:20px;width: 100%; align-items: center;
  justify-content: center;display: flex;">

  <ion-button  style="--border-radius: 20px;--background:rgb(56, 94, 156)"  (click)="presentPopover($event)">CATEGORY</ion-button>


</div>
  <ion-footer *ngIf="cartItemsAll.length && showRestaurants" class="slide-in-bottom">
    <ion-toolbar (click)="viewCart()">


      <ion-text class="title">{{cartItemsAll.length}} Items</ion-text>
      <ion-text class="description">from {{restaurantName}}</ion-text>


      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-toolbar>
  </ion-footer>

