html {
  scroll-behavior: smooth;
}

ion-header{
  // ion-toolbar{
  //   height: 100px;
  // }
 // background-color: #f7714a;
  ion-toolbar{
color: white;
  }
  .banner{
    position: relative;
    margin-top: 20px;
  }
  img{
    width: 100%;
    height: 70px;
  }

  .search{


     width: calc(100% - 52px);


    margin:0px 0px 16px 0px;



}

ion-slides{


  ion-slide{

    margin-top: -20px;


    ion-card{

      position: relative;
      width:150px;
      height: 150px;
      box-shadow: none;
      border-radius: 0px !important;
      justify-content: center;
      align-items: center;






      img{
        object-fit: cover;
        width: 150px;
        height: 150px;
       // transform:scale(1.1,1.1) rotate(1deg);

       // opacity: 0.2;
      }
    }
  }
}
}

.available-status-yes{
box-shadow: 2px 2px 2px green;
}
.available-status-no{
  box-shadow: 2px 2px 2px red;
}






.items{
  margin-top: 30px;
}

ion-content{

ion-card{
  margin-top: -10px;
}
    ion-item{


      --inner-padding-end:0 !important;

      ion-input{
        --placeholder-color:#212121 !important;
        --placeholder-opacity:0.5;
        --color:#2121150 !important;

      }

      ion-icon{
        color:#21212150 !important;
        margin-right:10px;
      }
    }

.ion-list{
  margin-top: 10px;


  .ion-card{
    //position: relative;
    margin-top: -10px;
    .offers{
      position: relative;

      height: 25px;
      width: 55px;
      font-size: small;
      color: white;
      padding-left: 5px;

          }
  }

}
  }
.close{
  filter: grayscale(1);
}

ion-footer{

ion-toolbar{
  --background:#f7714a;
  --color:white;


}
  .title{
      display: flex;
      margin-top: 0px;
      margin-left: 10px;
      font-size: 14px;


  }
  .description{
      display: flex;
      margin-top: 0px;
      margin-left: 10px;
      //color:rgb(0, 0, 0);
      font-size: 14px;



  }

//       ion-button{

//           text-transform: capitalize;
//           font-weight: 600;
//           margin-right: 10px;
//           --border-radius:2px;
// --background:white;
// --color:rgb(0, 173, 0);
//           --box-shadow:none;


//       }
      ion-icon{
height: 30px;
width: 30px;
margin-right: 20px;
    }







  }



  .my-custom-class {
    --background: #222;
    --spinner-color: #fff;

    color: #fff;
  }

  .swiper-slide-active{
  // transform: scale(1.50,1.05);


  }

  // .swiper-slide{
  //   transition: 400ms all ease-in-out;
  // }

  .color-green{
    background-color: seagreen;
  }
  .color-red{
    background-color:salmon;
  }

  .offer-logo{
background-color:tomato;
height: 25px;
width: 90px;
font-size: 12px;
color: white;
padding-left: 5px;
align-items: center;
justify-content: center;
  }

 .ad-slides{
 background-color: rgb(255, 255, 255);
 //margin-top: -30px;
 }

 .ion-margin-top{

   padding-top: 25px;
 }

.veg{
position: absolute;
align-content: center;
right: 0;
//background-color: white;
  height: 40px;

top: 0;
ion-label{
  position: absolute;
  right: 20px;

  top: 0px;
  font-size: 12px;
  color:  #f7714a;
}
ion-toggle{
  position: absolute;
  right: 0;
  top: 15px;
  height: 8px;
  width: 30px;
  --border-radius:0px;

  --handle-height: 12px;
  --handle-border-radius:0px;
  --handle-width:13px;

  --background-checked: rgb(224, 224, 224);
  --handle-background-checked: #fcfcfc;

}


}
.toggle input:checked + .track {
  background-color:seagreen;
  border-color: seagreen;
}



  .menu-name{
    position: absolute;
    bottom: 20px;
    left: 20px;
    justify-content: center;


 height: 20px;
 width: 100px;

border-radius: 2px;
color: #ffffff;
font-weight: 500;
letter-spacing: 1.5;

//opacity: 80%;


  }
  .discount{
    position: absolute;
    top:20px;
    height: 20px;
width: 100px;

border-radius: 2px;
color: #212121;
font-weight: 500;
letter-spacing: 1.5;
//opacity: 80%;

  }
  .rate{
    position: absolute;
    height: 50px;
width: 100px;
top:70px;

border-radius: 2px;
color: #212121;
font-weight: 500;
letter-spacing: 1.5;
//opacity: 80%;

  }
  .hotel-name{
    position: absolute;
top:10px;
    height: 20px;
width: 150px;

border-radius: 2px;
color: #212121;
font-weight: 500;
letter-spacing: 1.5;
//opacity: 80%;

  }

.offer-circle{
  position: absolute;
  right: 10px;
  top: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(104, 58, 32);

  padding: 2px;
  color:#fff;
  align-content: center;
  p{
    margin-top: -3px;
    font-size: 8px;
  }

}

ion-item-divider{
  margin-left: -16px;
  width: auto;
}
.slide-items{
  // margin-top: -20px;
  margin-top: 10px;
}

.slide-items2{
  // margin-top: -20px;
  margin-top: 10px;
}

.type{
  width: 100%;
  height: 30px;
 // background-color: gainsboro;
 //padding-left: 10px;
 position: relative;
 justify-content: center;
 align-items: center;

p{
  position: absolute;
  left: 10px;
  top:5px;
  font-weight: 500;


}
}
.start{
  position: absoute;

  width: 5px;
  height: 30px;
  background-color: tomato;

  }

.no-rest{
text-align: center;

padding: 10px;
label{
font-weight: 500;
font-size: 15px;

}
ion-button{
  margin-top: 60px;
  --border-radius:2px!important;
}

}

.slide-items1{

  ion-slides{

margin-top: 10px;
    ion-slide{

     margin-top: 10px;


      ion-card{
        // background-color: #FBAB7E;
        // background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

        // background-color: #0093E9;
        // background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


        position: relative;
        width:250px;
        height: 150px;
        box-shadow: none;
        border-radius: 10px !important;
        justify-content: center;
        align-items: center;






        img{
          object-fit: cover;
          width: 150px;
          height: 150px;
         // transform:scale(1.1,1.1) rotate(1deg);

         // opacity: 0.2;
        }
      }
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-5 8:54:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-12-5 8:58:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-12-5 9:0:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-12-5 9:3:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.caption{
font-size: 12px;
font-weight: 500;
}



.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-5 18:58:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
