


.menu-header-bg{


  height: 180px;
  width: 350px;
  background: #7590d6;
  background: linear-gradient(90deg,#7590d6 0%, #4d71d7 100%);
  box-shadow: 0px 1px 10px rgba(98,140,255,0.5);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom:60px;
}

.header-content{

  position: absolute;
  top:30px;
left: 15px;
  display: flex;
  align-items: center;

  img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 7px solid #5e7ccc;
      margin-right: 14px;
  }
  h2{
      font-weight: 300;
      color: #fff;
  }
  p{
      font-size: 12px;
      color:#e4e4e4;
      font-weight: 100;
      letter-spacing: 0.4px;
  }


}

.action-button{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  ion-button{
      text-transform: capitalize;
      font-weight: 300;
      --background:#628cff;
      --border-radius:7px;
      --box-shadow:none;
  }

  ion-icon{
      margin-right:1px;
  }
}

.menu-item{
  margin: 0px;

  ion-icon{
      margin-right: 20px;
      color:#86979f;
  }
  ion-item{
      padding-left: 20px;
      margin-bottom: 10px;
  }
  .active{
      border-left: 5px solid;
      color:#628cff;
      padding-left:15px;

      ion-icon{
          color:#628cff;
      }
  }
}




ion-content{
  .banner{
    position: relative;
  }
  img{
    width: 100%;
  }
  .caption{
    position: absolute;
    width: 100%;
    bottom:55px;
    font-size: 16px;
    color: white;
    padding-left: 26px;
    padding-right: 26px;
  }
  .search{
    position: absolute;
    bottom:-40px;
    width: calc(100% - 52px);
    background: white;
    margin:16px 26px 16px 26px;
    padding:5px 16px 5px 16px;
    height: fit-content;
    //border-radius: 10px;
    box-shadow:0px 2px 5px 2px rgb(83, 83, 83);

    ion-item{
      --inner-padding-end:0 !important;

      ion-input{
        --placeholder-color:#212121 !important;
        --placeholder-opacity:0.5;
        --color:#2121150 !important;

      }

      ion-icon{
        color:#21212150 !important;
        margin-right:10px;
      }
    }
  }
}
.ion-list{
  margin-top: 40px;

}

ion-footer{


  .title{
      display: flex;
      margin-top: 0px;
      margin-left: 10px;
      font-size: 14px;


  }
  .description{
      display: flex;
      margin-top: 0px;
      margin-left: 10px;
      color:whitesmoke;
      font-size: 14px;
      font-style: italic;


  }

      ion-button{
          text-transform: capitalize;
          font-weight: 300;
          margin-right: 10px;
          --border-radius:0px;

          --box-shadow:none;

          ion-icon{
              margin-left: 5px;
          }
      }






  }

