 <ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title style="font-family: lato;">
      Foods
    </ion-title>
    <ion-buttons slot="end">
<ion-button (click)="RedirectToHome()">
<ion-icon name="home"></ion-icon>
</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="banner">
    <img src="assets\orange_banner2.jpg" />
    <div class="caption ion-padding">
      Find your Favourite...<br>
     <i> Restaurants | Hotels | Home Mades </i>
    </div>


    <div class="search">

        <ion-searchbar  debounce="500" [(ngModel)]="searchHotel" (ionChange)="SearchChange($event)"></ion-searchbar>

      <!-- </ion-item > -->
    </div>

      </div>
<div class="ad-slides">
      <ion-slides [options]="option" class="ion-margin-top">
         <ion-slide>
           <ion-card>
             <img src="assets/burger1.jpg">
           </ion-card>
         </ion-slide>
         <ion-slide>
          <ion-card>
            <img src="assets/banner2.jpg">
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img src="assets/banner3.jpg">
          </ion-card>
        </ion-slide>



      </ion-slides>



      </div>
<div class="veg">

  <ion-label>Veg Only</ion-label>
      <ion-toggle class="veg-only" color="secondary" [(ngModel)]="isToggle" (ionChange)="ToggleEvent($event)"></ion-toggle>
    </div>
</ion-header>





<ion-content [fullscreen]="true">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content>
</ion-refresher-content>
</ion-refresher>


<div class="ion-list">
  <!-- <ion-list style="margin-top: -10px;" lines="none" *ngFor="let item of searchedItem;let i=index"> -->
    <ion-list style="margin-top: -5px;" lines="none" *ngFor="let item of searchedItem;let i=index">

<ion-card class="ion-card">
  <div  class="offers color-green" *ngIf="item.AvailableStatus" >Opened</div>
  <div  class="offers color-red" *ngIf="!item.AvailableStatus">Closed</div>

  <div class="offer-logo" *ngIf="item.Offer" style="position: absolute;right:0px;top: 0px;">{{item.OfferDescription}}</div>
    <ion-item (click)="RestaurntClick(item.RestaurantName,item._id)">
      <ion-thumbnail style="height: 100px;width: 100px;border-radius: 2px;" slot="start">
        <img style="border-radius: 2px;" src="assets\rest2.jpg">
      </ion-thumbnail>
      <ion-label class="hotel-card">
        <h4 style="font-weight: 500;">{{item.RestaurantName}}</h4>
        <p  style="margin-top: -15px;font-size: small;">{{item.RestaurantType}}</p>
        <p  style="margin-top: -15px;font-size: small;">{{item.Address}}</p>
        <hr style="background-color: rgb(236, 138, 45);margin-top: -10px;">
        <p style="font-size: 12px;margin-top: -5px;">Taste: 4.5 | Rating: 4.5 | {{item.Distance}} km | 20-35 mins </p>
      </ion-label>
    </ion-item>

  </ion-card>
    </ion-list>
    </div>



  </ion-content>


  <ion-footer *ngIf="cartItemsAll.length">
    <ion-toolbar color="primary">


      <ion-text class="title">{{cartItemsAll.length}} Items</ion-text>
      <ion-text class="description">from from {{restaurantName}}</ion-text>


      <ion-button color="secondary" slot="end" (click)="viewCart()">View Cart  <ion-icon slot="end" name="cart"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-footer>

