 <ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title style="font-family: lato;">
      Restaurants
    </ion-title>
    <ion-buttons slot="end">
<ion-button (click)="RedirectToHome()">
<ion-icon name="home"></ion-icon>
</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="banner">
    <img src="assets\orange_banner2.jpg" />
    <div class="caption ion-padding">
      Welcome to Twinker <br>
     <i> let we serve, what you need</i>
    </div>


    <div class="search">

        <ion-searchbar  debounce="500" [(ngModel)]="searchHotel" (ionChange)="SearchChange($event)"></ion-searchbar>

      <!-- </ion-item > -->
    </div>
      </div>

      <ion-slides [options]="option" class="ion-margin-top">
         <ion-slide>
           <ion-card>
             <img src="assets/burger1.jpg">
           </ion-card>
         </ion-slide>
         <ion-slide>
          <ion-card>
            <img src="assets/hotel_banner.jpg">
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img src="assets/burger1.jpg">
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img src="assets/burger1.jpg">
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img src="assets/burger1.jpg">
          </ion-card>
        </ion-slide>

      </ion-slides>
</ion-header>





<ion-content [fullscreen]="true">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content>
</ion-refresher-content>
</ion-refresher>


  <!-- <ion-card *ngFor="let item of searchedItem">
    <ion-item >
      <ion-thumbnail slot="start">
        <img src="assets\restaurant_logo.jpg">
      </ion-thumbnail>
      <ion-label>
        <h4>{{item.RestaurantName}}</h4>
        <p  style="margin-top: -10px;">{{item.RestaurantType}}</p>
        <p  style="margin-top: -10px;">{{item.Address}}</p>
        <hr style="background-color: rgb(236, 138, 45);">
        <p style="font-size: 12px;">Taste: 4.5 | Rating: 4.5 | {{item.Distance}} km | 20-35 mins </p>
      </ion-label>
    </ion-item>

  </ion-card> -->
<!--
<div class="ion-list">
  <ion-list style="margin-top: -10px;" lines="none" *ngFor="let restaurants of restaurantDetails;let i=index">

<ion-card>
    <ion-item (click)="RestaurntClick(restaurants.RestaurantName,restaurants._id)">
      <ion-thumbnail slot="start">
        <img src="assets\restaurant_logo.jpg">
      </ion-thumbnail>
      <ion-label>
        <h4>{{restaurants.RestaurantName}}</h4>
        <p  style="margin-top: -10px;">{{restaurants.RestaurantType}}</p>
        <p  style="margin-top: -10px;">{{restaurants.Address}}</p>
        <hr style="background-color: rgb(236, 138, 45);">
        <p style="font-size: 12px;">Taste: 4.5 | Rating: 4.5 | {{restaurants.Distance}} km | 20-35 mins </p>
      </ion-label>
    </ion-item>

  </ion-card>
    </ion-list>
    </div> -->


<div class="ion-list">
  <!-- <ion-list style="margin-top: -10px;" lines="none" *ngFor="let item of searchedItem;let i=index"> -->
    <ion-list style="margin-top: -5px;" lines="none" *ngFor="let item of searchedItem;let i=index">

<ion-card class="ion-card">
  <div  class="offers color-green" *ngIf="item.AvailableStatus" >Opened</div>
  <div  class="offers color-red" *ngIf="!item.AvailableStatus">Closed</div>
    <ion-item (click)="RestaurntClick(item.RestaurantName,item._id)">
      <ion-thumbnail slot="start">
        <img src="assets\rest.jpg">
      </ion-thumbnail>
      <ion-label>
        <h4>{{item.RestaurantName}}</h4><img *ngIf="item.Offer" src="assets/offer.png" style="height: 60px;width: 60px;position: absolute;right: 5px;top: 0px;">
        <p  style="margin-top: -10px;">{{item.RestaurantType}}</p>
        <p  style="margin-top: -10px;">{{item.Address}}</p>
        <hr style="background-color: rgb(236, 138, 45);">
        <p style="font-size: 12px;">Taste: 4.5 | Rating: 4.5 | {{item.Distance}} km | 20-35 mins </p>
      </ion-label>
    </ion-item>

  </ion-card>
    </ion-list>
    </div>



  </ion-content>


  <ion-footer *ngIf="cartItemsAll.length">
    <ion-toolbar color="primary">


      <ion-text class="title">{{cartItemsAll.length}} Items</ion-text>
      <ion-text class="description">from from {{restaurantName}}</ion-text>


      <ion-button color="secondary" slot="end" (click)="viewCart()">View Cart  <ion-icon slot="end" name="cart"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-footer>

