<ion-header class="ion-no-border">
  <ion-toolbar no-border>
    <ion-buttons fill="clear" slot="start">
      <ion-button (click)="RedirectToHome()">
        <ion-icon name="arrow-back-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title style="font-family: lato;">
      Orders Management
    </ion-title>

  </ion-toolbar>
  <div >


  <ion-item>
    <ion-label>Restaurant</ion-label>
    <ion-select interface="popover"  [(ngModel)]="selectedValue" (ionChange)="onChange(selectedValue)">
      <ion-select-option *ngFor="let rest of restaurants" value={{rest._id}}>{{rest.RestaurantName}}</ion-select-option>

    </ion-select>
  </ion-item>

<!--
  <div class="search">

    <ion-searchbar  debounce="500" [(ngModel)]="searchHotel" (ionChange)="SearchChange($event)"></ion-searchbar>


</div> -->
<div class="datepicker-card">
  <ion-card>
<ion-label>Date:&nbsp;{{myDate}}</ion-label>
</ion-card>
</div>

<mat-form-field appearance="fill" class="example-form-field" style="display: none;">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="datepicker" [max]="today"  (dateChange)="GetDate($event)">
  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #datepicker>
    <mat-datepicker-actions>
      <button mat-button matDatepickerCancel>Cancel</button>
      <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
    </mat-datepicker-actions>
  </mat-datepicker>
</mat-form-field>
<!-- <ion-label>Date:&nbsp;{{myDate1}}</ion-label> -->
<!-- <mat-form-field class="example-full-width" appearance="fill" >
  <mat-label>Choose a date</mat-label>
  <input matInput  [(ngModel)]="myDate" (dateChange)="GetDate($event)" [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
  <mat-datepicker  touchUi #picker ></mat-datepicker>
</mat-form-field> -->





    <ion-segment scrollable [(ngModel)]='default' color="primary" (ionChange)="segmentChanged($event)">
      <ion-segment-button  value="Placed">
        Placed
      </ion-segment-button>
      <ion-segment-button  value="Accepted">
        Accepted
      </ion-segment-button>
      <ion-segment-button  value="Ready">
        Delivery Accept
      </ion-segment-button>
      <ion-segment-button  value="Pending">
        Delivery Pending
      </ion-segment-button>
      <ion-segment-button  value="Completed">
        Completed
      </ion-segment-button>


    </ion-segment>
    </div>


</ion-header>
<ion-content>
  <!-- <ion-datetime style="display: none;" #datePicker [max]="today" (ionChange)="GetDate()" [(ngModel)]="myDate"></ion-datetime> -->
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content>
</ion-refresher-content>
</ion-refresher>
  <div *ngIf="default=='Placed'">
  <div *ngFor="let orders of searchedItem;let i=index" style="margin-top: 5px;">
    <mat-accordion class="example-headers-align" style="padding: 0px;"  *ngIf="orders.Status=='Placed'">

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title style="font-size: small;">
            ORD_ID-{{orders._id.substr(orders._id.length - 3)}}
              </mat-panel-title>
              <mat-panel-description style="font-size: small;">
               Rs. {{orders.ItemTotal}}.00
                <mat-icon>keyboard_arrow_down</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>


          <ion-row style="font-size: 14px;">
            <ion-col>
              Item
            </ion-col>
            <ion-col>
              Price
            </ion-col>
            <ion-col>
              Quantity
            </ion-col>
            <ion-col>
              Amount
            </ion-col>
          </ion-row>
          <ion-row style="font-size: 12px;" *ngFor="let items of orders.ItemDetails;let j=index" >
            <ion-col>
         {{items.ProductName}}
            </ion-col>
            <ion-col>
               {{items.Price}}
            </ion-col>
            <ion-col>
            {{items.ItemCount}}
            </ion-col>
            <ion-col>
               {{items.Amount}}
            </ion-col>
          </ion-row>

            <mat-action-row style="padding-right: 50px;">
              <ion-text  style="position: absolute;margin-top:8px;left: 0; margin-left: 10px;color: crimson;font-size: small;">Delivery:&nbsp;<span>{{orders.DeliveryPartnerStatus}}</span></ion-text>
              <!-- <button mat-button color="warn" (click)="prevStep()">Cancel</button> -->
              <button mat-button color="primary" (click)="nextStep(orders._id,orders.RestaurantId)">Accept</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>

        </div>
      </div>
        <div *ngIf="default=='Accepted'">
          <div *ngFor="let orders of searchedItem;let i=index" style="margin-top: 5px;">
            <mat-accordion class="example-headers-align" style="padding: 0px;"  *ngIf="orders.Status=='Accepted by Restaurant Owner'">

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: small;">
                     ORD_ID-{{orders._id.substr(orders._id.length - 3)}}
                      </mat-panel-title>
                      <mat-panel-description style="font-size: small;">
                       Rs. {{orders.ItemTotal}}.00
                        <mat-icon>keyboard_arrow_down</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>



                  <ion-row style="font-size: 14px;">
                    <ion-col>
                      Item
                    </ion-col>
                    <ion-col>
                      Price
                    </ion-col>
                    <ion-col>
                      Quantity
                    </ion-col>
                    <ion-col>
                      Amount
                    </ion-col>
                  </ion-row>
                  <ion-row style="font-size: 12px;" *ngFor="let items of orders.ItemDetails;let j=index" >
                    <ion-col>
                 {{items.ProductName}}
                    </ion-col>
                    <ion-col>
                       {{items.Price}}
                    </ion-col>
                    <ion-col>
                    {{items.ItemCount}}
                    </ion-col>
                    <ion-col>
                       {{items.Amount}}
                    </ion-col>
                  </ion-row>

                    <mat-action-row style="padding-right: 50px;">
                      <ion-text  style="position: absolute;margin-top:8px;left: 0; margin-left: 10px;color: crimson;font-size: small;">Delivery:&nbsp;<span>{{orders.DeliveryPartnerStatus}}</span></ion-text>
                      <!-- <button mat-button color="warn" (click)="prevStep()">Cancel</button> -->
                      <button mat-button color="primary" (click)="Ready(orders._id,orders.RestaurantId)">Ready</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                </mat-accordion>

                </div>
          </div>

          <div *ngIf="default=='Ready'">
            <div *ngFor="let orders of searchedItem;let i=index" style="margin-top: 5px;">
              <mat-accordion class="example-headers-align" style="padding: 0px;"  *ngIf="orders.Status=='Ready' && orders.DeliveryPartnerStatus=='Placed by Customer' ">

                  <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title style="font-size: small;">
                       ORD_ID-{{orders._id.substr(orders._id.length - 3)}}
                        </mat-panel-title>
                        <mat-panel-description style="font-size: small;">
                         Rs. {{orders.ItemTotal}}.00
                          <mat-icon>keyboard_arrow_down</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>

                      <ion-row style="font-size: 14px;">
                        <ion-col>
                          Item
                        </ion-col>
                        <ion-col>
                          Price
                        </ion-col>
                        <ion-col>
                          Quantity
                        </ion-col>
                        <ion-col>
                          Amount
                        </ion-col>
                      </ion-row>
                      <ion-row style="font-size: 12px;" *ngFor="let items of orders.ItemDetails;let j=index" >
                        <ion-col>
                     {{items.ProductName}}
                        </ion-col>
                        <ion-col>
                           {{items.Price}}
                        </ion-col>
                        <ion-col>
                        {{items.ItemCount}}
                        </ion-col>
                        <ion-col>
                           {{items.Amount}}
                        </ion-col>
                      </ion-row>

                      <mat-action-row style="align-content: center;padding-right: 50px;">

                        <p style="color: red;" >Waiting for Delivery Partner Accept</p>

                      </mat-action-row>
                    </mat-expansion-panel>
                  </mat-accordion>

                  </div>
          </div>
          <div *ngIf="default=='Pending'">
            <div *ngFor="let orders of searchedItem;let i=index" style="margin-top: 5px;">
              <mat-accordion class="example-headers-align" style="padding: 0px;"  *ngIf="orders.Status=='Ready' && orders.DeliveryPartnerStatus=='Accepted by Delivery Partner'">

                  <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title style="font-size: small;">
                       ORD_ID-{{orders._id.substr(orders._id.length - 3)}}
                        </mat-panel-title>
                        <mat-panel-description style="font-size: small;">
                         Rs. {{orders.ItemTotal}}.00
                          <mat-icon>keyboard_arrow_down</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>

                      <ion-row style="font-size: 14px;">
                        <ion-col>
                          Item
                        </ion-col>
                        <ion-col>
                          Price
                        </ion-col>
                        <ion-col>
                          Quantity
                        </ion-col>
                        <ion-col>
                          Amount
                        </ion-col>
                      </ion-row>
                      <ion-row style="font-size: 12px;" *ngFor="let items of orders.ItemDetails;let j=index" >
                        <ion-col>
                     {{items.ProductName}}
                        </ion-col>
                        <ion-col>
                           {{items.Price}}
                        </ion-col>
                        <ion-col>
                        {{items.ItemCount}}
                        </ion-col>
                        <ion-col>
                           {{items.Amount}}
                        </ion-col>
                      </ion-row>

                      <mat-action-row style="align-content: center;padding-right: 50px;">
                        <!-- <button mat-button color="warn" (click)="prevStep()">Cancel</button>
                        <button mat-button color="primary" (click)="Handled(orders._id,orders.RestaurantId)">Handled</button> -->
                        <p style="color: green;" >Accepted by Delivery Partner (Dlivery On Process...)</p>

                      </mat-action-row>
                    </mat-expansion-panel>
                  </mat-accordion>

                  </div>
          </div>
          <div *ngIf="default=='Completed'">
            <div *ngFor="let orders of searchedItem;let i=index" style="margin-top: 5px;">
              <mat-accordion class="example-headers-align" style="padding: 0px;"  *ngIf="orders.Status=='Completed'">

                  <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title style="font-size: small;">
                       ORD_ID-{{orders._id.substr(orders._id.length - 3)}}
                        </mat-panel-title>
                        <mat-panel-description style="font-size: small;">
                         Rs. {{orders.ItemTotal}}.00
                          <mat-icon>keyboard_arrow_down</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>

                      <ion-row style="font-size: 14px;">
                        <ion-col>
                          Item
                        </ion-col>
                        <ion-col>
                          Price
                        </ion-col>
                        <ion-col>
                          Quantity
                        </ion-col>
                        <ion-col>
                          Amount
                        </ion-col>
                      </ion-row>
                      <ion-row style="font-size: 12px;" *ngFor="let items of orders.ItemDetails;let j=index" >
                        <ion-col>
                     {{items.ProductName}}
                        </ion-col>
                        <ion-col>
                           {{items.Price}}
                        </ion-col>
                        <ion-col>
                        {{items.ItemCount}}
                        </ion-col>
                        <ion-col>
                           {{items.Amount}}
                        </ion-col>
                      </ion-row>

                      <mat-action-row style="align-content: center;padding-right: 50px;">
                        <!-- <button mat-button color="warn" (click)="prevStep()">Cancel</button>
                        <button mat-button color="primary" (click)="Handled(orders._id,orders.RestaurantId)">Handled</button> -->
                        <p style="color: green;" >Delivered Successfull...</p>

                      </mat-action-row>
                    </mat-expansion-panel>
                  </mat-accordion>

                  </div>
          </div>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
            <ion-fab-button size="small" >
              <ion-icon name="filter"></ion-icon>
            </ion-fab-button>
             <ion-fab-list side="top">
              <ion-fab-button><ion-icon name="calendar" (click)="datepicker.open()" ></ion-icon></ion-fab-button>
              <ion-fab-button><ion-icon name="list" (click)="FilterCancel()"></ion-icon></ion-fab-button>
            </ion-fab-list>
          </ion-fab>

</ion-content>


<ion-footer   *ngIf="default=='Completed'">
  <ion-toolbar color="primary">
    <!-- <ion-title>4 Items</ion-title> -->
<ion-row>
  <ion-col size="3">
    <ion-text class="title">Orders</ion-text>
  </ion-col>
  <ion-col size="3">
    <ion-text class="title">Items</ion-text>
  </ion-col>
  <!-- <ion-col size="3">
    <ion-text class="title">Amount</ion-text>
  </ion-col> -->
  <ion-col size="3">
    <ion-text class="title">Amount</ion-text>
  </ion-col>

  </ion-row>
  <ion-row>
    <ion-col size="3">
    <ion-text class="description">{{totalCompletedOrders}}</ion-text>
  </ion-col>
  <ion-col size="3">
    <ion-text class="description">{{totalCompletedItems}}</ion-text>
  </ion-col>
  <!-- <ion-col size="3">
    <ion-text class="title">{{toPay}}.00 </ion-text>
  </ion-col> -->
  <ion-col size="3">
    <ion-text class="title">{{toPay}}.00</ion-text>
  </ion-col>

  </ion-row>


  </ion-toolbar>
</ion-footer>
