ion-select {
  /* Applies to the value and placeholder color */
  color: #545ca7;

  /* Set a different placeholder color */
  --placeholder-color: #971e49;

  /* Set full opacity on the placeholder */
  --placeholder-opacity: 1;
}


.search{
  position: relative;
  //bottom:-40px;
  width: 100%;



}

ion-footer{

  font-size: 12px;

  .title{
      display: flex;
      margin-top: 0px;
      margin-left: 10px;
      font-size: 14px;


  }
  .description{
      display: flex;
      margin-top: 0px;
      margin-left: 10px;
      color:whitesmoke;
      font-size: 14px;
     // font-style: italic;


  }

      ion-button{
          text-transform: capitalize;
          font-weight: 300;
          margin-right: 10px;
          --border-radius:2px;
          --box-shadow:none;

          ion-icon{
              margin-left: 5px;
          }
      }






  }
.datepicker-card{
  margin-top: -10px;
  ion-card{
    padding: 10px;
    //height: 40px;
    align-items: center;


  }
}
